[2020-02-04 14:40] voslartomas opened #6 "Chart doesn't work if mail settings are not set"
Hi it fails when you leave defaults empty on this error.

[code]

[2020-02-04 15:08] voslartomas commented on #6
It's enough to fill in mail settings to go through.

But then there is another error with PVC

[code]

I can see only sentry-data PVC created.

[2020-02-04 15:30] voslartomas commented on #6
Also there is no ingress.

[2020-02-05 08:29] Mokto opened #8 "Add an ingress resource"

[2020-02-05 08:30] Mokto commented on #6
Thanks for your feedbacks ! I created a new issue for the ingress.

[2020-02-05 09:42] voslartomas commented on #6
@Mokto No problem, thank you for this repo :) It saved me lot of time.

I have one more question, now I have sentry 10.0 up and running, but when I send some issue into that, it seems like this

<img width="1448" alt="Screenshot 2020-02-05 at 10 40 04" src="https://user-images.githubusercontent.com/1945040/73829909-0938ae00-4804-11ea-9127-80824baf4311.png">

It seems it gets that issue, because th

[2020-02-05 10:41] Mokto commented on #6
I think it's because we need to deploy a consumer with redis (right now it's only with RabbitMQ). I'll have a look at it ASAP.

[2020-02-05 10:43] voslartomas commented on #6
I see, are you planning to take a look today? Or can you at least point me out, how to deploy it, I would try it... I can create PR then.

[2020-02-05 10:47] voslartomas commented on #6
I can see already Redis instance deployed. But this might be interesting, found in sentry-worker logs

[code]

[2020-02-05 13:16] Mokto commented on #6
Not sure I have the time to look at it today.
What I know is that with the previous sentry helm chart, I used RabbitMQ as a broker (just like here). And I had to run 2 consumers : one for rabbitmq, one for redis.

But what you saw seems like a real issue, yes ! But I don't know much about kafka tbh.

[2020-02-05 22:00] Mokto opened #11 "Allow to configure Redis worker and Rabbitmq worker differently"

[2020-02-06 11:18] voslartomas commented on #6
@Mokto Hey, I am just trying new version 0.6.0, but cannot get it working

[code]

[2020-02-06 11:41] voslartomas opened #14 "[BUG] Sentry config Postgres password empty if no `postgresql.postgresqlPassword` is provided."
Error: rpc error: code = Unknown desc = configmaps "sentry10-sentry" already exists

[2020-02-06 14:12] Mokto commented on #6
Yes it's because you're using a ReadWriteOnce volume.

I'm using S3 as filestore to prevent that for example.

[2020-02-06 14:14] voslartomas commented on #6
And how is it possible that old sentry was working with RWO?

[2020-02-06 14:19] Mokto commented on #6
Thanks to this line : https://github.com/helm/charts/blob/master/stable/sentry/templates/workers-deployment.yaml#L159

persistentWorkers was probably false in your case.

I can try to apply the same thing to the worker + post process forwarder

[2020-02-06 14:21] voslartomas commented on #6
Ok, so basically cron, workers etc don't need that pvc... I was trying to have this storage only on web, it started but I couldnt see any issues again :/

[2020-02-06 14:23] Mokto commented on #6
The shared PVC (or s3 bucket) is useful when you want to share sourcemaps on a release for example !

That's when persistentWorkers is useful

[2020-02-06 14:24] voslartomas commented on #6
Ok, I just read it, I will need this for sure, so I guess it's better to switch to gce.

[2020-02-06 14:29] Mokto commented on #6
And it also allows you to scale your sentry-web deployment.

[2020-02-06 14:29] voslartomas commented on #6
yeah, right.. perfect thanks, I will work on this and let you know

[2020-02-06 14:50] Mokto commented on #6
https://github.com/sentry-kubernetes/charts/pull/15.

That should fix it ;)

[2020-02-06 15:32] #11 closed, assigned to nobody

[2020-02-06 15:32] Mokto commented on #6
You can use the 0.7.0 version.

That should fix the issue

[2020-02-06 17:11] voslartomas commented on #6
Also there is one bug

This is pvc def
[code]

but then in deployments you are using

[code]

[2020-02-10 11:24] voslartomas commented on #6
Hey @Mokto , so trying again new version 0.7.0 this time with s3 bucket, but still having same problem, I can't see any issues in the list, but it shows increasing number of issues in release...

[2020-02-10 11:53] voslartomas commented on #6
I've noticed this error in kafka-confluent-0
[code]

[2020-02-10 16:09] Mokto commented on #6
I do see issues in the list to be honest. Not sure what this is about...

[2020-02-10 16:32] voslartomas commented on #6
It's ok now, I had to remove all the PVs and now it seems working finally. I have two more PRs will send them... (there was error with gcs)

[2020-02-11 09:49] #8 closed, assigned to nobody

[2020-02-11 14:40] voslartomas commented on #14
This happens every time I rerun sentry (when previously deleted I guess). So it's not cleaning up configmaps properly when you delete this chart.

[2020-02-22 18:30] #6 closed, assigned to nobody

[2020-02-24 18:57] JTarball opened #20 "No ability to add tolerations/nodeselectors to jobs"
First great job with this repo.

However there is no way to add tolerations/nodeselector to the k8s jobs

Happy to submit a PR

Thanks,

[2020-02-24 21:33] Mokto commented on #20
Thanks !

Yes go for it ;)

[2020-02-25 06:45] arianf opened #21 "Add LDAP support"
Please add ldap support

[2020-02-27 00:46] arianf opened #22 "Using helm3 I get `helm.go:75: [debug] failed pre-install: timed out waiting for the condition`"
[code]

[code]

[2020-02-27 06:30] Mokto commented on #22
1) Which version of the chart are you using ?
2) Could you share the logs of `snuba-db-init` please ?

[2020-02-27 20:14] arianf commented on #22
Nevermind, after looking at the logs on the pod, it seems like Kafka isn't connecting.
[code]

[2020-02-27 20:14] #22 closed, assigned to nobody

[2020-03-11 21:59] i5okie opened #28 "PVC does not get mounted"
There is a discrepancy between pvc and deployment templates:
claimName in deployment is set to sentry.fullname https://github.com/sentry-kubernetes/charts/blob/develop/sentry/templates/deployment-sentry-web.yaml#L106

but name of pvc in template is sentry-data https://github.com/sentry-kubernetes/charts/blob/develop/sentry/templates/pvc.yaml#L5

So I can't install with persistence enabled, or with

[2020-03-11 23:03] i5okie opened #29 "DSN not being generated."
Creating a new project, DSN is not generated. The DSN (both DSN and the deprecated) fields are blank.
And clicking generate new key doesn't do it either.
Anyone else run into this issue?

[2020-03-11 23:04] #29 closed, assigned to nobody

[2020-03-12 07:29] #28 closed, assigned to nobody

[2020-03-12 07:29] Mokto commented on #28
Thanks ! I fixed it in 0.9.4

[2020-03-16 04:28] DandyDeveloper commented on #21
I've added OIDC using the older chart, but this essentially requires a dedicate image as you need to add the plugin to the `requirements.yaml`.

This could probably be built into the chart, but it might be better having a README informing the users to build their own image and reference the plugin in their `sentry.conf.py`

[2020-03-20 19:02] switz opened #31 "Stuck on sentry-db-init with no logs"
Made it pretty far, but getting stuck here. Just stays pending forever with no logs:

[code]

[code]

I'm running bare-metal on digital ocean, any ideas?

[2020-03-27 00:42] DandyDeveloper opened #32 "Revert separation of the database / Readd database dependencies."
I'll undertake this in a local fork for the time being, but I really think this chart should offer a direct upgrade path if it is replacing the official stable repository.

In my case, we'd like to go from Sentry 9 -> Sentry 10, but at present, out of the box, this chart does not offer that. I'll be making updates to support this.

**Updating this last statement: It's a helm3 chart. Deps exist. Eg

[2020-03-27 06:20] Mokto commented on #32
:)

But it is still true that we don't offer a migration path. I had a lot of troubles migrating the data from v9 to v10, so I personnally made the decision to restart from scratch.

[2020-03-27 06:21] Mokto commented on #31
No idea to be honest. Have you put enough resources on it ? I think it's quite resources consuming.
Are you sure it can connect to postgres?

[2020-03-27 06:29] DandyDeveloper commented on #32
@Mokto I am in the process of trying to find a nice upgrade path, it won't be so painful if I can figure out a few things.

[2020-03-30 08:33] DandyDeveloper commented on #32
@Mokto https://github.com/sentry-kubernetes/charts/pull/33

Mostly done.

[2020-03-30 08:34] DandyDeveloper commented on #31
@switz Do a describe on the resource, it'll give more information:

`kubectl describe pod sentry-db-init-j56m6`

[2020-03-30 08:59] DandyDeveloper commented on #32
@Mokto Run out of time today. I'll finish off the upgrade path tomorrow, hopefully. If given the time.

[2020-03-30 09:13] switz commented on #31
Ah! Great call -- I'm still fairly new to k8s so I wasn't aware of all of the introspection tools.

Looks like the pod doesn't have enough memory:

[code]

That said, the machine has **plenty** of resources. A few dozen GB free of memory and more than enough spare CPU. Any idea how I can best bump the pods' resources up?

[2020-03-30 09:37] DandyDeveloper commented on #31
Double check all your nodes. There's a hard-coded 2gb requirement for that init pod. Definitely the scheduler is unable to assign it to a node because your nodes don't have sufficient memory.

Best way to check is to do the same describe command on the nodes in your cluster, that'll break down how much memory and where that memory is going.

[2020-03-30 19:36] switz commented on #31
Ah, I am truly sorry for my lack of knowledge. My worker node was full and my master node had plenty of space, but it was "tainted". After _untainting_ it (is that right?) I was able to deploy that db-init to my master node. Cheers and thanks so much for walking me through this. Apologies for wasting your time.

I still don't have it fully running, but I hopefully can figure it out from here. Much

[2020-03-30 19:36] #31 closed, assigned to nobody

[2020-04-03 08:36] DandyDeveloper commented on #32
@Mokto You got a nice way to communicate more easily? I suspect I'll be adding more to the repo as I go along.

Thanks for the merge!

[2020-04-03 09:40] Mokto commented on #32
Not sure, to be honest! Do you have Telegram?

Or Whatsapp, Slack (I have one for another [Github project](https://github.com/komakio/app)), whatever.

[2020-04-03 10:04] Mokto commented on #14
@DandyDeveloper Do you have this issue also?

I'm using helm template to deploy sentry (through pulumi), so I don't really have that issue.

[2020-04-03 10:08] DandyDeveloper commented on #14
Yes I think my change to the hook fixes this. But snuba might still be a problem

[2020-04-03 10:30] Mokto commented on #14
Thanks! @voslartomas could you confirm when you have time?

[2020-04-03 21:20] voslartomas commented on #14
@Mokto
Just tested new version and I can't even install it properly anymore :/

sentry-cron, sentry-web and sentry-worker
[code]

[2020-04-03 22:36] DandyDeveloper commented on #14
Is that the only error? Can you post the full log, please.

[2020-04-03 22:38] voslartomas commented on #14
This is only thing inside logs.

[2020-04-06 05:47] DandyDeveloper commented on #32
@Mokto Slack would be great for me, can you drop me the credentials or an invite to aaron.layfield@gmail.com? I'll close this issue for now as we're all good.

[2020-04-06 05:47] #32 closed, assigned to nobody

[2020-04-06 05:48] DandyDeveloper commented on #14
@voslartomas I might get a change to look at this today, looks like it's the sentry.conf or yaml is rendering wrong.

You're not appending any configuration are you?

[2020-04-06 06:31] DandyDeveloper commented on #14
@voslartomas https://github.com/sentry-kubernetes/charts/pull/39

Fixed. See PR.

[2020-04-06 11:54] Mokto commented on #14
@voslartomas could you try again ? 0.11.0 should fix everything ;)

[2020-04-06 13:18] voslartomas commented on #14
Almost there, now I am stuck at

<img width="838" alt="Screenshot 2020-04-06 at 15 17 25" src="https://user-images.githubusercontent.com/1945040/78562518-ca31d380-7819-11ea-951c-e888b8a32566.png">

[code]

[2020-04-06 13:32] voslartomas commented on #14
Sry, it just took a while, now it works.

[2020-04-06 13:34] voslartomas commented on #14
But I am getting this in browser :/

/auth/login/

<img width="278" alt="Screenshot 2020-04-06 at 15 34 23" src="https://user-images.githubusercontent.com/1945040/78564015-2138a800-781c-11ea-88f6-3cdbd81ebdd2.png">

[code]

[2020-04-07 05:36] yeouchien commented on #14
I am getting similar error `OperationalError: fe_sendauth: no password supplied` for a fresh `helm install` in `sentry-db-init` job

[2020-04-07 05:41] Mokto commented on #14
Could you shared your overridden values.yaml?
Thanks

[2020-04-07 05:43] DandyDeveloper commented on #14
Looks like postgres isn't configured with the password for some reason. You sure you all deleted the old PVCs before installing?

Also, check a postgres secret exists and exec into your postgres container and check that the password in the environment variable matches the secret.

[2020-04-07 06:46] pravk opened #44 "404 : Charts Repo"
Unable to install because following URL throws 404

https://sentry-kubernetes.github.io/charts

[2020-04-07 06:55] Mokto commented on #44
Hey,

https://sentry-kubernetes.github.io/charts/index.yaml

Should be working.

[2020-04-07 07:21] pravk commented on #44
Thank you. I was using helm 2.

[2020-04-07 07:21] #44 closed, assigned to nobody

[2020-04-07 07:33] yeouchien commented on #14
Yes, deleted PVC before installing. This is my `sentry-sentry-postgresql` secret
[code]

[code]

they matches.

[2020-04-07 11:26] voslartomas commented on #14
[code]

[2020-04-08 01:52] DandyDeveloper opened #45 "PVC for Sentry Web component. Why?"
Why do we have a PVC for the sentry-web component? This is bad because:

a. Replicas can't be spawned
b. Deletion of these resources can be cumbersome for backend storage provisioners.

Just want to understand the reasoning behind this?

I'm not sure if the web component actually has any need for persistence? But I don't know the deeper architectural design of the web component. My impression was

[2020-04-08 01:52] DandyDeveloper commented on #45
@Mokto

[2020-04-08 02:01] DandyDeveloper commented on #45
Sorry I've just seen that there are indeed artifacts stored: https://docs.sentry.io/server/filestore/

We'll need to change this to support multiple replicas.

My suggestion is making this a statefulset as well.

[2020-04-08 04:57] Mokto commented on #45
Yes, agreed that it's generally better to use another system for persistence (GCS, S3 for example). https://docs.sentry.io/server/filestore/

But some people might want to use the filesystem storage with a ReadWriteMany mode.
We can't really change it because it depends on which provider people use (efs for Amazon, nfs for Google, etc...)

Maybe we could put a note in the readme, or in the values.

[2020-04-08 04:58] Mokto commented on #45
If you make it a statefulset, then each replica has its own list of files, and sourcemaps don't work anymore.

[2020-04-08 05:00] DandyDeveloper commented on #45
@Mokto Does the PVC has `ReadWriteMany`? My replicas were struggling with mounting.

Looks like we default to `ReadWriteOnce`. Maybe we should update this to Many?

In my case, we're bare metal and host through our own block storage, so I actually would like this working, haha

[2020-04-08 05:04] Mokto commented on #45
We could, but most providers don't support ReadWriteMany per default.
You could use that https://github.com/helm/charts/tree/master/stable/nfs-server-provisioner.

Once again, we can change it, but we'll need to be clear on how to allow ReadWriteMany.

[2020-04-08 05:27] Mokto commented on #14
Guys could you please share the ConfigMap with the 2 sentry configuration files ?

There should be an issue where Postgres is defined in Sentry.

Thanks!

[2020-04-09 01:10] DandyDeveloper opened #47 "Workers unable to reconnect to RabbitMQ after unexpected restart"
So I appear to have a problem in a cluster I'm working with where the readiness probes are failing and the mq components keep restarting (This is my issue to deal with).

However, the workers appear to struggle reconnecting as a consumer to the MQ server even though RabbitMQ seems to be OK. This MAY be because the service doesn't see the pod as "ready" because the readiness probe isn't finishing.

[2020-04-09 05:11] Mokto commented on #47
Are you only talking about the workers ? Because there isn't any readiness probe here.
And sentry-web & sentry-workers should be independent.

[2020-04-09 05:48] DandyDeveloper commented on #47
@Mokto Readiness probe in Rabbit is dying and I don't think the workers are registering as consumers after the rabbitmq comes back.

[2020-04-09 05:52] Mokto commented on #47
Oh, ok, RabbitMQ is dying ?

I would say make sure you have put enough memory on each node + set an high enough watermark:

https://github.com/sentry-kubernetes/charts/blob/develop/sentry/values.yaml#L301

[2020-04-09 05:55] DandyDeveloper commented on #47
@Mokto

I know why the Rabbitmq is dying, my concern is the reconnection of the workers to Rabbitmq when it comes back up.

I'm not even sure this is an issue yet. Just writing it down whilst I investigate,

[2020-04-09 13:38] voslartomas commented on #14
Not sure which one you need exactly. And you are saying you're not able to reproduce this issue??
[code]

[2020-04-10 01:31] DandyDeveloper commented on #14
@voslartomas

[code]

Yep, this is a problem we need to solve.

To explain the problem: Due to postgresql being a dependency, we have no way of obtaining the rendered password (randomly generated) and inserting it into this config template.

Right now, we need people to pass the `postgresql.postgresqlPassword` parameter in order to render this field.

**This is a bug**

@Mokto We should update the

[2020-04-10 01:46] DandyDeveloper commented on #14
@voslartomas @yeouchien Pending merge of #49. This should solve your problems.

[2020-04-10 05:44] #14 closed, assigned to nobody

[2020-04-10 05:51] Mokto commented on #14
0.11.1 should fix this.

Thanks for your feedbacks

[2020-04-14 14:16] wilmardo opened #51 "db-init fails with fe_sendauth: no password supplied"
Seems to be the same issue as #14 but I am still experiencing it with 0.11.1.

db-init log:

[code]

Using these values:

[code]

Sentry configmap:

[code]

[2020-04-14 16:24] #51 closed, assigned to nobody

[2020-04-15 05:11] Mokto opened #54 "Symbolicator deployment"

[2020-04-16 09:40] yeouchien commented on #14
thanks, it works in latest release `0.12.1`

[2020-04-16 11:37] voslartomas opened #56 "Worker cannot connect to RabbitMQ"
Sentry worker cannot connect to rabbitmq, this cause that issues are not processed I guess .
[code]

[2020-04-16 11:48] Mokto commented on #56
Could you check if rabbitmq is started? And if so, is the service name correct?

Thanks.

[2020-04-16 11:54] voslartomas commented on #56
<img width="827" alt="Screenshot 2020-04-16 at 13 53 25" src="https://user-images.githubusercontent.com/1945040/79453218-a6287c00-7fe9-11ea-9438-04ef348627de.png">

It is up and running, but I don't think URL is correct.

Name of the service is `sentry-rabbitmq-ha`

[2020-04-17 04:27] Mokto commented on #56
I created #57 to fix it.

[2020-04-17 06:42] #56 closed, assigned to nobody

[2020-04-17 08:08] voslartomas commented on #56
Still same problem.

[2020-04-17 08:15] voslartomas commented on #56
And after re run with new version it has another error.

sentry-db-init-wxrfk
[code]

[2020-04-17 08:38] Mokto commented on #56
I think that might be because the postgres password changes every time you re-deploy the chart.

I would advise to remove everything and set up a fixed password.

[2020-04-17 08:40] voslartomas commented on #56
Ok, not very convenient though. What about the first problem?

[2020-04-17 08:58] Mokto commented on #56
It's not really convenient indeed, but there's nothing we can do about it.

See https://github.com/helm/charts/tree/master/stable/sentry#postgressql

[2020-04-17 08:59] Mokto commented on #56
I'll have a look at the other thing as soon as I can

[2020-04-18 05:27] Mokto commented on #56
@voslartomas your service name should be `rabbitmq`, not `rabbitmq-ha`, actually.

I tested the whole chart, blank, as you use it, and it works flawlessly.

Maybe it's because your chart was first created before https://github.com/sentry-kubernetes/charts/pull/33 was merged.

[2020-04-19 18:13] JTarball commented on #20
Apologises - Really busy recently

Here is the PR

- #59

[2020-04-22 06:03] ghost opened #60 "GitLab Auth"
Hi,

How can I configure oAtuh2 with Gitlab?
So that users registered in GitLab can log in to Sentry.

I found the plugin https://github.com/SkyLothar/sentry-auth-gitlab
but I don't know how can I install it?

[2020-04-23 14:21] yeouchien opened #61 "Snuba consumer CrashLoopBackOff"
`sentry-snuba-consumer-6d8ccf79ff-lcdjj         0/1     CrashLoopBackOff   8          27m`

version:
release `0.12.3`
[code]
[code]

error log:
[code]

[2020-04-23 14:51] Mokto commented on #60
Hi,

You need to build a new docker image containing the plugin.
It's out of the scope of this project.

[2020-04-23 14:51] #60 closed, assigned to nobody

[2020-04-23 14:53] Mokto commented on #61
Seems like the snuba db init job hasn't been runned properly.
Or you lost data because [Clickhouse doesn't have a PVC](https://github.com/sentry-kubernetes/charts/pull/50).

Might that be the case ?

[2020-04-24 03:13] yeouchien commented on #61
thanks for adding Clickhouse PVC it to README.md, you are right.
adding the following and rerun snuba db init works
[code]

[2020-04-24 03:13] #61 closed, assigned to nobody

[2020-04-25 16:13] T1loc opened #62 "Helm upgrade failed"
I'm not able to upgrade the chart.

[code]

[2020-04-25 16:15] T1loc opened #63 "Volume existing Claims"
It would be nice to have this options in order to use an existing volume
[code]

[2020-04-25 17:09] Mokto commented on #62
What's your helm version?

[2020-04-25 17:26] T1loc commented on #62
The latest available :-)
[code]

[2020-04-25 23:56] T1loc opened #64 "Allow changing "limit-post" setting dynamically"
Sometimes when you have <big> source maps you can have some 502
Can you update the config map with this values ?
https://forum.sentry.io/t/sourcemap-upload-failing-when-file-size-more-than-20mb/4660/2

[code]

[2020-04-26 05:25] Mokto commented on #64
Good idea.
This should be changeable in the values file.

PR welcomed.

[2020-04-26 05:29] Mokto commented on #45
I copied the warning from the old chart, I think that's enough.

Let me know if you think we can do more.

[2020-04-26 05:29] #45 closed, assigned to nobody

[2020-04-26 05:30] Mokto commented on #47
@DandyDeveloper Have you found something new regarding this?
Or should we close this ?

Thanks.

[2020-04-26 13:07] DandyDeveloper commented on #47
@Mokto I'm like.... 99% sure this was cluster specific. So I think we're good to close for now.

[2020-04-26 13:07] #47 closed, assigned to nobody

[2020-04-26 13:09] Mokto commented on #47
Thanks!

[2020-04-30 11:30] maynewong opened #65 "Error: YAML parse error on sentry/templates/configmap-snuba.yaml"
`helm install sentry`

Error: YAML parse error on sentry/templates/configmap-snuba.yaml: error converting YAML to JSON: yaml: line 14: did not find expected key

[2020-04-30 19:13] Mokto commented on #65
What's was the exact command you runned please?

And with what parameters?

[2020-05-08 04:52] maynewong commented on #65
set
kafka.enabled = false

[2020-05-12 07:16] Mokto commented on #65
Hey!
The PR was already there but not merged.

I just merged it and I'm going to create a new release now.

[2020-05-12 07:16] #65 closed, assigned to nobody

[2020-05-12 07:16] Mokto commented on #65
https://github.com/sentry-kubernetes/charts/pull/43

[2020-05-14 21:57] sagor999 commented on #61
@Mokto
I am having same issue. My snuba-consumer keeps crashing with same error.
I added PVC for clickhouse, and re-deployed sentry. db-init seemed to finished fine (no errors).
But snuba-consumer still keeps crashing.
`snuba.clickhouse.errors.ClickhouseError: [60] Table default.sentry_local doesn't exist. (version 19.16.19.85 (official build)) `

Any ideas how to fix it?
Sentry itself seemed to b

[2020-05-15 05:21] Mokto commented on #61
You need to "restart" your hooks.

What I usually do is put "enabled" false on hooks, helm upgrade, then "enabled" true, helm upgrade

[2020-05-15 11:36] haarchri opened #67 "OpenShift unable to deploy because of privileged users"
hello,

it would be great to ship all statefulsets that it is possible to run in openshift

for example:
`create Pod sentry-clickhouse-replica-0 in StatefulSet sentry-clickhouse-replica failed error: pods "sentry-clickhouse-replica-0" is forbidden: unable to validate against any security context constraint: [spec.containers[0].securityContext.securityContext.runAsUser: Invalid value: 0: must be in

[2020-05-15 12:55] sagor999 commented on #61
@Mokto Perfect. Thank you! That seemed to fixed it.

[2020-05-19 16:59] sagor999 opened #68 "Events are missing"
Hi,
wondering if anyone encountered similar issue and might know what might be causing this.
Sentry receives event, sends email about event being created. But, if you follow the link to sentry, it says:
`Sorry, the events for this issue could not be found.`
Even though it shows:
`Events: 1`
but if you click on `Events` tab, it is also empty.

It happens to some events only. At some point something

[2020-05-19 17:29] Mokto commented on #68
Thanks for your report.

Actually I've seen the same behaviour (rarely) and I'm using RabbitMQ. I've been unable to pinpoint why this is the case.

[2020-05-19 18:42] J0sh0nat0r commented on #68
We encountered a similar issue and discovered it was to do with how Snuba / Clickhouse are configured. By default it's configured in a local dataset mode and this chart deploys 3 Clickhouse replicas which don't seem to replicate data (maybe intended or due to the lack of Zookeeper?) the fix was to configure Snuba to use distributed dataset mode and create a distributed table named `sentry_dist` on

[2020-05-19 18:45] sagor999 commented on #68
@J0sh0nat0r oh interesting! quick question: you are saying that this chart doesn't deploy zookeeper, but it actually does deploy zookeeper. At least I definitely see it running.

[2020-05-19 18:54] J0sh0nat0r commented on #68
@sagor999 I think the instance of Zookeeper this chart deploys is used for Kafka, maybe it could also be utilized by Clickhouse though?

EDIT: Checking the Clickhouse config it doesn't seem to use it currently

[2020-05-19 21:44] boskiv opened #69 "Operation cannot be fulfilled on resourcequotas"
When I did
[code]
I've got
[code]
Any help?

[2020-05-20 01:02] DandyDeveloper commented on #69
I don't think this is related to Sentry specifically, considering this is an install. I'd check to make sure there aren't any pending updates or something trying to apply to your API Server that may potentially be impacting your cluster as a whole.

Maybe double check that no prior installs or Sentry are present in the `default` namespace.

[2020-05-20 01:06] DandyDeveloper commented on #67
@haarchri Unfortunately this is actually a dependency issue that would need to be fixed by Clickhouse itself:

https://github.com/liwenhe1993/charts/blob/master/clickhouse/templates/statefulset-clickhouse.yaml#L94

You can raise an issue there and we may be able to contribute a solution.

In the meantime, you should be able to configure OpenShift to allow this (If your organisation permits).

[2020-05-20 01:44] DandyDeveloper commented on #62
@T1loc Are you using `--force`?

[2020-05-20 02:21] boskiv commented on #69
I have very strict installation. I have only my namespace availible to use.

[2020-05-20 06:29] Mokto commented on #69
Yes, It means you haven't respected the resource quotas on your namespace.
Either ask for more to your cluster administrator, or decrease the resources from this charts (but init jobs might fail).

[2020-05-20 06:30] Mokto commented on #67
Because of this, [this other issue](https://github.com/sentry-kubernetes/charts/pull/50#issuecomment-612444903) and the lack of maintenance, I'm more and more thinking of building a fork of clickhouse inside that repository.

What do you think?

[2020-05-20 06:32] Mokto commented on #68
@J0sh0nat0r amazing findings !

Really smart.

I guess we could include this CREATE TABLE inside the chart as a hook, as some point.

[2020-05-20 06:45] DandyDeveloper commented on #67
@Mokto Wouldn't hurt, but it's another thing to manage ;) That's the only downside.

I'm not the most confident with clickhouse, but I'm sure it can't be that hard to follow.

[2020-05-20 18:31] sagor999 commented on #68
@J0sh0nat0r I will give it a try today. Will let you know how it works.
Did notice a minor bug in your chart.
In `snuba-migrate-job.job.yaml` and in `snuba-db-init.job.yaml` this line:
`{{ toYaml .Values.snuba.migrateJob.env | indent 8 }}`
indent has to be 10. otherwise helm fails with errors.
so correct line is:
`{{ toYaml .Values.snuba.migrateJob.env | indent 10 }}`

[2020-05-20 18:45] sagor999 commented on #68
@J0sh0nat0r
Having an issue with clickhouse, maybe you can help out.
I created sentry_local table on all 3 clickhouse nodes.
But, snuba consumer crashes with:
[code]

So I tried to create that table on a replica as well, but getting this:
[code]

Maybe you have some ideas how to resolve this?

Thank you!

[2020-05-20 19:14] J0sh0nat0r commented on #68
@sagor999 Good catch with the env, thanks :)
Unfortunately it seems I was wrong about Zookeeper and even with it enabled it's still required to create the tables on each node individually, so we'll probably need to update the job to do that.
As for the error you're facing: Currently the `snuba migrate` command is only run on the main Clickhouse nodes, you should be able to exec into a Snuba node a

[2020-05-20 19:20] sagor999 commented on #68
@J0sh0nat0r ah, I see.
Hm, snuba migrate is tripping now on replica:
`export CLICKHOUSE_HOST="sentry-clickhouse-replica-0.sentry-clickhouse-replica-headless"`
Error:
[code]

Would appreciate help with that error.

[2020-05-20 19:24] sagor999 commented on #68
nvm, figured it out.
Had to run this command for each replica before running migrate:
`snuba bootstrap --force`

[2020-05-20 19:25] sagor999 commented on #68
Snuba replacer is now working. Thank you for help, @J0sh0nat0r !
Hopefully this will fix missing events now.

[2020-05-20 19:28] J0sh0nat0r commented on #68
@sagor999 Ah, for some reason I didn't have to run that but glad to hear replacer's working now. Keep me posted as to how it goes ;) Happy to help!

[2020-05-20 19:44] sagor999 commented on #68
One quick note: all those random missing events are now all back in sentry. So it is definitely working. Was not expecting that sentry would be able to recover those, so was pleasantly surprised.

[2020-05-21 10:30] haarchri commented on #67
the only open point is clickhouse in the helm chart - i play around with this implementation https://github.com/Uglykoyote/clickhouse will have a look if its possible with this openshift template - if yes i can create a helm chart of it

the rest is starting up with a values.yaml like this:

[code]

[2020-05-21 18:08] J0sh0nat0r commented on #68
PR opened :)

[2020-05-22 07:42] Mokto commented on #68
Thanks again @J0sh0nat0r. That was a difficult one.

[2020-05-22 08:42] Mokto commented on #67
@haarchri I've cloned the clickhouse chart inside our repo.

[2020-05-25 08:34] Mokto commented on #68
Guys have you tried the new version ?
I seem to still have some not found events.

Thanks.

[2020-05-25 13:30] sagor999 commented on #68
@Mokto I have not tried your version yet. But I have been using @J0sh0nat0r 's and so far no missing events on my end. I am getting about 5-10k events a day.

Do you have those missing events from after the switch or before the switch? I noticed that not all of my missing events were recovered after the switch, but I am not seeing any new not found events.

[2020-05-25 14:03] Mokto commented on #68
Thanks.

To be sure I removed all my issues from Sentry. And now all of the new one don't have have events associated.

The thing is that I see them without any issue here :
/organizations/ocean/events/

[2020-05-25 14:07] sagor999 commented on #68
Yeah, I don't seem to have that issue.
I am wondering if some step is missing. I did not look through PR yet to verify there are no missing steps.
Have you checked logs for snuba pods? is there anything there complaining by any chance?

[2020-05-25 15:31] Mokto commented on #68
Nothing in snuba, only some 404 in #internal sentry.

I'll start from scratch tomorrow morning!

[2020-05-25 16:47] J0sh0nat0r commented on #68
@Mokto I switched our production setup over to the main chart and haven't encountered this, would you mind sharing your values / release name so I can try to reproduce locally?

[2020-05-26 08:51] Mokto commented on #68
I've just tried removing everything (except postgres/redis/rabbitmq, which are external charts) and deploy it with argoCD.

I never see events anymore.
I mean, I do see events here:

<img width="1096" alt="Screenshot 2020-05-26 at 10 33 57" src="https://user-images.githubusercontent.com/5103928/82878924-7d769900-9f3c-11ea-9f9a-64332af18907.png">

But whenever I click on any on those events, I get

[2020-05-26 09:00] Mokto commented on #69
I'll close it. Let me know if anything else.

[2020-05-26 09:00] #69 closed, assigned to nobody

[2020-05-26 09:01] Mokto opened #75 "Write a guide on how to scale workers based on Rabbitmq queue size"

[2020-05-26 09:01] Mokto commented on #62
I'll close it, we can reopen if needed.

[2020-05-26 09:01] #62 closed, assigned to nobody

[2020-05-26 14:06] sagor999 commented on #68
Hm. Did your snuba migrate job completed fine?
I noticed in [snuba-migrate.job.yaml](https://github.com/sentry-kubernetes/charts/blob/5a14b8b59c786eaa352c521dea00feb765cc2dc1/sentry/templates/hooks/snuba-migrate.job.yaml#L50) when we call `snuba migrate` we don't execute `snuba bootstrap --force` first. I know that in my case if was tripping and not doing migrate because of that. Could have simila

[2020-05-26 14:26] Mokto commented on #68
Yeah, everything went fine, I just checked the logs.
And jobs are executed in the right order, thanks to "helm.sh/hook-weight".

[2020-05-27 04:56] Mokto commented on #68
I just tried running a new standalone version of sentry with that command:

[code]

Same issue.

I'll re-open.

[2020-05-27 06:30] Mokto commented on #68
Ok, I think I found out why, after trying 10 different configurations.

I needed to downgrade sentry & snuba images.

I'm still unsure why but i think it's because they've added some new services here: https://github.com/getsentry/onpremise/blob/master/docker-compose.yml.

Hotfix coming soon.

[2020-05-27 06:57] Mokto commented on #68
Fixed through 1.3.0

[2020-05-27 06:57] #68 closed, assigned to nobody

[2020-05-27 14:33] sagor999 commented on #68
@Mokto oh good find! Sorry for not being able to help out much.

[2020-05-28 01:17] J0sh0nat0r commented on #68
@Mokto I don't seem to be seeing this issue in prod, and we're running the latest tags. Could it have since been fixed?

[2020-05-28 06:57] Mokto commented on #68
When was the "latest" tag pulled for the last time?
Or do you have a pullpolicy to "always"?

[2020-05-28 13:02] J0sh0nat0r commented on #68
@Mokto Sorry I should've specified, we're running the latest commits as the tags are auto-updated via Flux

[2020-06-07 16:50] sagor999 opened #77 "sentry-web is getting stuck in pending state after update if using PVC with ReadWriteOnce"
if `filestore` is configured with PVC with access mode `ReadWriteOnce` then during update sentry-web will be stuck in pending state, as by default it will attempt to perform rolling update. It will create new instance of sentry-web, while old one is running, and new instance will never get to running state, as it will not be able to mount PVC while old instance is still running.

Fix for this is s

[2020-06-07 17:47] sagor999 opened #78 "Attempting to update to latest sentry tag caused Internal errors for sentry"
I attempted to use latest tags for sentry and snuba:
`getsentry/sentry:00ae12b89402f10158e36413d35a94d642b56082`
`getsentry/snuba:3b11c3b64901d91fbbd0622ca718bcb7d871dd4a`
But once rolled out, sentry became unusable, with every page giving internal error.

`snuba-api`, `snuba-consumer` were logging this error:
`clickhouse_driver.errors.NetworkError: Code: 210. Cannot assign requested address (loca

[2020-06-07 18:40] J0sh0nat0r commented on #78
@sagor999 The changes in my [fork](https://github.com/J0sh0nat0r/sentry-kubernetes-charts) fix this, notably the configuration for Snuba was changed to use the `CLUSTERS` array. I was hoping @Mokto could verify the latest tags are working for him before opening a PR as I'm relatively sure the changes won't be backward compatible

[2020-06-07 19:31] Mokto commented on #78
I'll check tomorrow morning ;)

[2020-06-08 07:36] Mokto commented on #78
Same issue here !
And I was supposed to check for the "No events found" issue, I can't even do that.

[2020-06-08 23:55] J0sh0nat0r commented on #78
@Mokto Just to confirm, did you deploy using my fork? The latest Snuba tag isn't compatible with the config in the current Chart version.

[2020-06-09 09:27] Mokto commented on #78
Nope, I thought you were going to create a PR that I could test. Sorry about the misunderstanding.

[2020-06-09 17:29] J0sh0nat0r commented on #78
@Mokto No worries, my bad :) I'll go ahead and open a draft one

[2020-06-10 23:31] ts-mini opened #81 "Metrics Support"
From the previous chart there was support for statsd/prometheus via

https://github.com/helm/charts/pull/14355

Is there any plans for this type of 'native' integration in this chart? a-la `metrics.enabled=true`?

[2020-06-11 20:32] #78 closed, assigned to nobody

[2020-06-11 21:08] Mokto commented on #81
A good nice to have but it's not on top of my priorities to be honest !

PR welcomed.

[2020-06-11 21:10] Mokto opened #84 "Add cleanup jobs with a CronJob"
Should run:
- Sentry
- Snuba
- Symbolicator

[2020-06-11 21:32] sagor999 commented on #78
@Mokto @J0sh0nat0r
Hey guys. I updated to latest chart version. Everything works, except all of my old events are reporting: `Sorry, the events for this issue could not be found.`
Any new events that are coming after upgrade are working though.
Anyway to restore old events? And do you see same issue on your end by any chance?

I tried re-running hooks, but that did not help. Also none of them repo

[2020-06-11 21:34] sagor999 commented on #78
Sentry reports this internal error: `ChunkLoadError: Loading chunk 167 failed.`

[2020-06-11 23:11] ts-mini commented on #81
Awesome! I'll see if I can find a few extra minutes to work on it - are there any guidelines/random things I have to sign to contribute in this repo (like old helm-charts/stable) - I don't see anything atm?

[2020-06-11 23:43] sagor999 commented on #78
One more note: noticed that I think some events have changed their reported time.
For example, it was:
`June 11 2020 05:35:05 PDT`
but now reported as:
`June 10 2020 21:35:05 PDT`

Maybe this is related to clickhouse timezone change? And that somehow it messed up old events?

[2020-06-11 23:58] sagor999 commented on #78
Sorry for spam. :)
db-init actually reporting this:
[code]

[2020-06-12 00:02] sagor999 commented on #78
More info:
I tried to set timezone for clickhouse back to original -> it restored timestamps on old events, but still getting `Sorry, the events for this issue could not be found.` :(
So I think it most probably related to timezone change? But most probably it messed up data to the point where it might not be recoverable?
Hopefully you guys can shed some light on this.

[2020-06-12 00:04] J0sh0nat0r commented on #78
@sagor999 That sounds about right, unfortunately I didn't see this in prod as my timezone was previously set to UTC. It should be possible to run a query to update all timestamps created before the timezone change however.

[2020-06-12 00:05] sagor999 commented on #78
@J0sh0nat0r ah, I see. I am not very familiar with clickhouse. Do you know how can I run the query and what it would look like? Appreciate your help!

[2020-06-12 00:14] J0sh0nat0r commented on #78
@sagor999 I'll fire up my local testing environment and experiment for a bit, watch this space :)

[2020-06-12 01:47] J0sh0nat0r commented on #78
@sagor999 Unfortunately it looks like ClickHouse is unable to update key columns. However, it seems that after creating some events with Clickhouse in the `America/Los_Angeles` timezone and switching over to `UTC` the dates are stored correctly and the events are visible. Could something more subtle be the culprit here?

[2020-06-12 02:16] sagor999 commented on #78
@J0sh0nat0r thank you for looking into it!
When I updated timezone back to original `Asia/Shangai` my timestamps returned back to normal. So timezone definitely is messing something up.

Looking some more. When I query the event that is missing, I see this in log for sentry-web:
[code]

So I guess it cannot find that event in snuba backend... not sure why though. Since it does query it by id, so t

[2020-06-12 03:49] J0sh0nat0r commented on #78
@sagor999 Ok, I was able to re-create the issue by using the `Asia/Shanghai` timezone, initially I had been using PDT as I assumed that was your Clickhouse TZ. After some research it seems that it is in-fact possible to rectify this! Firstly make sure ClickHouse is running in the `UTC` timezone then run the following query on each node / replica:
[code]
Replacing `REPLACE_ME` with the time Sentry

[2020-06-12 04:08] sagor999 commented on #78
@J0sh0nat0r thank you!!! It works now! All timestamps are correct and events are accessible now. Appreciate your help!

[2020-06-12 04:10] J0sh0nat0r commented on #78
@sagor999 No worries, glad to hear it's all working! Happy to help :)

[2020-06-12 05:32] Mokto commented on #78
Wow nice, thanks! I'll add upgrade notes to the readme.

[2020-06-12 07:06] Mokto opened #86 "Add sentry relay"
https://github.com/getsentry/relay

[2020-06-20 16:44] J0sh0nat0r opened #92 "GeoIP Support"
We should probably support GeoIP, potentially through a sidecar using [this](https://hub.docker.com/r/maxmindinc/geoipupdate) Docker image.

[2020-06-22 11:24] hairmare opened #93 "Adopting the incubator/sentry-kubernetes chart"
Would you consider adopting the `incubator/sentry-kubernetes` chart into this repo?

* sentry-kubernetes logs kubernetes events to sentry: https://github.com/getsentry/sentry-kubernetes
* incubator chart: https://github.com/helm/charts/tree/master/incubator/sentry-kubernetes
* missing maintainers/helm v3 deprecation warning: https://github.com/getsentry/sentry-kubernetes/issues/23#issuecomment-588

[2020-06-22 13:22] Mokto commented on #93
Hey!

Yes definitely, as an optional add-on.

Good idea.

[2020-06-24 06:01] DandyDeveloper commented on #93
@Mokto Can you look into adding this: https://github.com/apps/auto-assign-issues

I've been very disconnected recently because I didn't realise we had activity haha.

This looks good though, I'll be reviewing the changes in the PR as soon as I can.

[2020-06-24 06:03] DandyDeveloper commented on #92
@J0sh0nat0r This seems like it goes beyond the scope of the chart.

It might be better to either siphon this off into another chart entirely and add it as a dependency to this chart with a condition of `enabled`.

My two cents.

[2020-06-24 06:03] DandyDeveloper commented on #84
@Mokto I wonder if this could replace the cron pod entirely? I still don't fully understand what the cron pod does...

[2020-06-24 06:08] DandyDeveloper opened #95 "Cleanup Verbosity of "values.yaml" in latest chart."
I'm almost certain a number of our dependencies already use the values we're passing through the sentry values.

The current root values file is 1159 lines, I'm certain there's a ton of fat we can trim through using the defaults from the dependency charts.

I assume for people coming to this chart, it's pretty overwhelming having all these options, 90% they probably don't need.,

[2020-06-24 21:54] J0sh0nat0r commented on #92
@DandyDeveloper How would you envision that, maybe a sidecar injector or running a pod to update a configmap containing the GeoIP database?

[2020-06-25 07:22] pravk opened #97 "Unable to enable tabix ingress."
I am getting the following error while trying to enable tabix ingress using values.yaml file.

```Error: UPGRADE FAILED: error validating "": error validating data: ValidationError(Ingress.spec.rules): invalid type for io.k8s.api.extensions.v1beta1.IngressSpec.rules: got "map", expected "array"```

The template file ```https://github.com/sentry-kubernetes/charts/blob/develop/clickhouse/templates/i

[2020-06-25 23:12] voslartomas opened #98 "Kubernetes 1.16 support"
Hello just upgraded to 1.16 kubernetes version and I got stuck with sentry helm

[code]

I guess statefulSet in apps/v1beta2 is deprecated and apps/v1 should be used instead, any chance of fix?

https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-06-26 06:11] Mokto commented on #98
Are you sure it's coming from this chart ?
I've been using Kubernetes 1.16 for a while now, without any issue.

I'm not using the internal redis/rabbitmq/postgres but I checked the inside and everything is using apps/v1

[2020-06-26 06:15] Mokto commented on #97
Thanks for the report !
Fixed in #99

[2020-06-26 06:17] #93 closed, assigned to nobody

[2020-06-26 06:54] DandyDeveloper commented on #92
@J0sh0nat0r It would be a dependency chart the same as Redis etc.

I'd suspect those wanting to use this would have the technically capabilities to then add the additional config to Sentry OR we can just have conditions throughout that  rely on `geoip.enabled` to be true (which will be the same condition for the dependency to be installed)

[2020-06-26 09:19] voslartomas commented on #98
It seems like something from this helm chart

[code]

If I change some configuration in other charts, it works well. I was trying to change config for sentry and this happens when I update via terraform. Not sure how to get more info? Also I am using redis, rabbitmq and postgres from this chart.

[2020-06-26 09:28] kimxogus commented on #98
This error can be occurred when your pre-deployed chart has deprecated version, not only new version.
You need to re-enable deprecated api versions using `runtimeConfig` and retry it, then you can disable them.

[2020-06-26 11:11] J0sh0nat0r commented on #92
@DandyDeveloper I was thinking more from the chart's perspective, it'll need some way to provide Sentry with disk-based access to the database file.

[2020-06-26 11:48] voslartomas commented on #98
@kimxogus thanks that helped.

[2020-06-26 11:48] #98 closed, assigned to nobody

[2020-06-27 20:19] andrsp opened #100 "Sentry chart v3.0.0: Update clickhouse dependency to 1.2.1"
Chart version 3.0.0 uses clickhouse 1.2.0 which has issue with indentiation of tolerations.
Please, update it to latest to be able to use tolerations

[2020-06-27 20:45] andrsp opened #101 "Sentry chart v3.0.0: HPA for worker and web are the same name"
https://github.com/sentry-kubernetes/charts/blob/3.0.0/sentry/templates/hpa-web.yaml#L5
https://github.com/sentry-kubernetes/charts/blob/3.0.0/sentry/templates/hpa-worker.yaml#L5

they both use `name: {{ template "sentry.fullname" . }}`, it's better to add postfixes like `-web` and `-worker` to be able to enable both

[2020-06-28 06:37] #101 closed, assigned to nobody

[2020-06-28 06:40] Mokto commented on #100
Fixed in 3.0.1

[2020-06-28 06:41] #100 closed, assigned to nobody

[2020-06-28 06:41] Mokto commented on #97
Should be fixed in in 3.0.1 ;)

[2020-06-28 06:41] #97 closed, assigned to nobody

[2020-06-28 06:41] Mokto commented on #101
Should be fixed in 3.0.1.

[2020-06-28 06:47] Mokto commented on #84
The weekly report for example :

https://github.com/getsentry/sentry/blob/master/src/sentry/conf/server.py#L673

[2020-06-29 05:47] DandyDeveloper opened #105 "[Request] Move root system to sentry path in values file."
I can't see a good reason why this is in it's own root path in the values yaml.

It's only referenced in the Sentry configmap.

https://github.com/sentry-kubernetes/charts/blob/264aa1db489288f4471306f77d4bd3f23a9176b0/sentry/values.yaml#L147

[2020-06-29 05:48] DandyDeveloper commented on #105
Same can be said for mail: https://github.com/sentry-kubernetes/charts/blob/264aa1db489288f4471306f77d4bd3f23a9176b0/sentry/values.yaml#L153

[2020-06-29 05:50] DandyDeveloper commented on #105
Ah I could be wrong here... It looks like root references a lot of Sentry specific stuff... but we also have `sentry.xyz` params which I think we'd be better off moving to root...

[2020-06-29 05:55] DandyDeveloper commented on #95
May have jumped the gun on this one, it's probably about as clean as can be all things considered. Closing for now.

[2020-06-29 05:55] #95 closed, assigned to DandyDeveloper

[2020-06-29 05:59] DandyDeveloper commented on #77
@sagor999 Sorry you haven't had a response on this.

I've experienced this too and I'm trying to work out a good way to deal with this. The current logic in Sentry web isn't sensible as it won't allow scaling up through replicas due to the persistence options and it being a deployment.

The best / obvious thing here is to just move it to a statefulset as it will be managing state in it's filestore

[2020-06-29 06:24] Mokto commented on #105
In my opinion `sentry.xyz` is more for Kubernetes settings. And the other are for direct sentry settings.

[2020-06-29 07:20] DandyDeveloper commented on #105
@Mokto Yeah, I just wonder if its confusing for someone to see them in the file but I'm having a hard time convincing myself this is a problem to be honest haha.

[2020-06-30 13:16] joscha-alisch opened #107 "Upgrade rabbitmq-ha helm chart"
Hi there, the sentry chart is currently depending on the rabbitmq-ha chart in version 1.38.2.

With version 1.39.0 they added the option to specify `affinity` on the statefulset, which would be a nice to have.
Since this is the only change in this version (https://github.com/helm/charts/commit/ca058a2194b36862ce14ce7e81a387e51d098473#diff-506629ccdea7dd5052345d0c0b8a7323), I think it should be saf

[2020-06-30 14:20] Mokto commented on #107
Sure, we can do it 👍

PR welcomed.

[2020-06-30 14:26] timthelion commented on #22
I have this error too. Same problem with kafka. What do I need to do to fix this?

[2020-06-30 17:53] Mokto commented on #22
Are you using the latest version ?
Is there anything specific about your config/values ?

[2020-06-30 21:25] margeson opened #108 "A redeploy is detecting changes to the services"
Hi there,

When redeploying the helm chart, with the same values file, I am experiencing the below:

[code]

This is how I am invoking helm

[code]

Any ideas?

[2020-07-01 20:24] timthelion commented on #22
[code]

[code]

[code]

The broken command is:

[code]

[2020-07-02 12:08] #107 closed, assigned to nobody

[2020-07-02 19:20] margeson commented on #108
As a workaround, I attempted to delete the Services that is it trying to replace.

[code]
However, I am seeing this after.

[code]

[2020-07-03 19:52] Scong commented on #22
``` 2s          Warning   Unhealthy                         pod/sentry-kafka-1                                                                      Liveness probe failed: dial tcp IP:9092: connect: connection refused ```

[code]

Running in EKS

only config =>

[code]

[2020-07-05 07:11] sergeyshaykhullin opened #111 "Does kafka and clickhouse is required for deployment?"

[2020-07-05 07:31] lanore78 opened #112 "db-init job failed with default options"
Hello,

I'm trying to install sentry with the helm chart, and having issue with it.

'db-init' job always failed.

Here is the commands that I used

[code]

When I enter 'kubectl get pods' I got few failed pod created by db-init job.
[code]

Here is the full log of these pods, it saids password authentication failure.
[code]

[2020-07-05 10:49] Mokto commented on #112
Have you run this helm install/upgrade multiple times?

I think you should remove everything and restart by setting a postgres password in your values.

https://github.com/sentry-kubernetes/charts#postgressql

[2020-07-05 10:49] Mokto commented on #111
Yes.

[2020-07-05 10:49] #111 closed, assigned to nobody

[2020-07-05 16:19] J0sh0nat0r commented on #22
@Scong Please could you provide the logs from the Kafka pod?

EDIT: Just realised you appear to be running the chart located in the helm stable repository as opposed to this one.

[2020-07-06 03:37] lanore78 commented on #112
Hi @Mokto

Thank you for the reply.
Yes I've re installed few times, and it's because of it.

I found PVC is not removed with 'helm delete xxx' command, and this was the source of my problem.
When I remove the PVC, I could install without any errors.

[2020-07-06 05:21] #112 closed, assigned to nobody

[2020-07-06 09:23] dnlsndr opened #113 "Unclear intallation instructions"
Hi, Im not all to familiar with the deprecated chart, but im having some trouble installing this chart as a Helm dependency in my project. When doing a `helm search sentry` after adding the repo from the README.md, the Chart version is 3.1.0 as of now. But when inserting it as a Chart dependency, doing a `helm dep update`  and looking at the `values.yaml` in the downloaded `sentry-3.1.0.tgz`, the

[2020-07-06 10:20] hairmare commented on #113
If your 3.1.0 looks like this: https://github.com/helm/charts/tree/162bde262b6c2ed316aaff81efd1293d7a2ff775/stable/sentry then you most likely installed stable/sentry and not the one from this repo.

Can you post the relevant requirements sections of your Chart.yaml and Chart.lock?

The dependency in the chart should look something like this:
[code]

[2020-07-06 10:42] dnlsndr commented on #113
Thats how mine looks, so its almost exactly the same as yours except for the version flag (I've tried it with the 3.0.1 chart version, but it has the same outcome)
[code]
No I'm not using the stable/sentry Chart, but I've just noticed that the values.yaml below _does_ somewhat resemble the current values.yaml in this repo, but there are not comments to be found neither is the order of object in an

[2020-07-06 10:44] dnlsndr commented on #113
Oh and here is the `Chart.lock` entry:

[code]

[2020-07-06 11:05] dnlsndr commented on #113
This is the release from the hs-pages branch I'm talking about: https://github.com/sentry-kubernetes/charts/blob/gh-pages/sentry-3.1.0.tgz

[2020-07-06 11:25] Mokto commented on #113
At first sight the values you posted seem ok? I'm not sure to understand your issue tbh.

the values.yaml that you posted seems to contains the values from all subcharts. Postgres, clickhouse, etc...

[2020-07-06 13:12] dnlsndr commented on #113
My only problem is the confusion between the `values.yaml` in the repo and the one from the Helm chart. Why are the comments taken out and why are all the keys shuffled around compared to the repo `values.yaml`?
I imagine it makes it generally quite confusing. You want to change a value parameter, then you look into the downloaded chart and find a `values.yaml` that does not contain any comments n

[2020-07-08 06:10] Mokto commented on #113
I'm thinking that it might be because [we include the subcharts zip files](https://github.com/sentry-kubernetes/charts/tree/develop/sentry/charts) ?
I'm not sure.

The main values.yaml doesn't contain ALL the subchart values.

[2020-07-08 06:13] Mokto commented on #105
What should we do with this @DandyDeveloper ? I also don't want to include too many breaking changes from the previous charts (yet).

[2020-07-08 06:20] DandyDeveloper commented on #105
@Mokto Great question, I think its fine how it is. I don't think there's a strong enough argument for these changes. Closing.

[2020-07-08 06:20] #105 closed, assigned to DandyDeveloper

[2020-07-09 06:25] #81 closed, assigned to nobody

[2020-07-09 14:56] dnlsndr commented on #113
Ok, but why?

As I understand, the general consent in the Helm community is, that you only include the values of the subcharts that you want to change, in your main `values.yaml`.

Having a look at the _compiled_ `values.yaml` ALL keys are inserted regardless of if they are even needed. Many object keys don't even have a value other than an empty object: `someKey: {}`

[2020-07-15 12:48] untitaker commented on #86
fwiw relay is configured in getsentry/onpremise. I would recommend following whatever we do there to get this service set up.

We're also getting bug reports about this helm chart as the store endpoint is gone in sentry master in favor of relay.

[2020-07-15 14:21] Mokto commented on #86
Agreed ! Unfortunately I'm quite busy, so I can't do that right now

[2020-07-15 15:47] Scong commented on #22
That's odd, my helm configuration looks like this. The Chart version is also 4.0.1

[code]

Will look more into this.

[2020-07-15 16:33] l0nax opened #115 "Sentry v20.6.0"
#### Description

Since [sentry version v20.6.0](https://github.com/getsentry/sentry/releases/tag/20.6.0) has been released, it would be nice to be
able to install v20.6.0 also on the cluster.

[2020-07-15 17:00] kimxogus opened #116 "[Sentry] Better redis cluster config support"
I think a value like `.Values.redis.cluster.enabled` could be useful

[2020-07-15 17:28] Mokto commented on #116
Indeed. I'm personally using `redis-ha` + `haproxy` to support sentinel mode.

[2020-07-15 17:29] Mokto commented on #115
I think we currently use `Sentry 20.7.0.dev0cc9f7d1`?

[2020-07-15 18:17] toabi opened #117 "Add example values.yaml with resource recommendations"
When you install this, it has nearly no resource limits/requests and can easily take down some of your nodes. I tried ;)

It would be cool to have an example template with all the resource definitions of the main and subcharts. Guessing them is always so hard and maybe somebody has experience with some useful default recommended values.

[2020-07-16 06:48] kimxogus commented on #116
I'm using https://github.com/helm/charts/blob/master/stable/redis-ha too, but it causes connection closed issue several times https://github.com/getsentry/rb/issues/16 . Editing haproxy config didn't help much for me

[2020-07-16 07:36] jmijn commented on #84
Also missing a configuration option in the values to set the retention days. Now its set to 90 always:
https://github.com/sentry-kubernetes/charts/blob/develop/sentry/templates/configmap-sentry.yaml#L138

[2020-07-16 08:33] toabi opened #118 "Slack configuration supports only legacy bots"
Slack Apps created after June 2020 somehow are behaving differently.

The docs were updated here: https://github.com/getsentry/develop/blob/master/src/docs/integrations/slack/index.mdx

But the helm template only creates this structure:

[code]

[2020-07-16 14:09] l0nax commented on #115
Because the `README.md` says

Also in the [`Chart.yaml`](https://github.com/sentry-kubernetes/charts/blob/develop/sentry/Chart.yaml) `appVersion` is set to `10.0.0`.

[2020-07-17 13:35] mitchfriedman commented on #86
I'd be happy to contribute a PR of adding in relay support.

Since this is a breaking change architecturally in sentry, it's going to be breaking here as well (by pinning the latest images of sentry + relay that no longer play well with older versions).

[2020-07-17 19:12] Yomanz opened #119 "sentry-snuba-consumer and sentry-snuba-outcomes-consumer crashing"
Hey

I recently installed sentry on-premise but I'm experiencing weird errors when attempting to load projects/issue streams.

sentry-snuba-consumer and sentry-snuba-outcomes-consumer both crash and have the following logs:

Consumer:
[code]
Outcomes Consumer:
[code]

I have custom values on the template, they are
[code]
I can provide any extra needed info.

Thanks,

[2020-07-17 19:51] J0sh0nat0r commented on #119
@Yomanz Would you mind grabbing the output of the `clickhouse-init` job? It's responsible for creating the `*_dist` tables

[2020-07-17 19:56] Yomanz commented on #119
Apparently said job doesn't exist; that would make sense as to why it wasn't working, but why wouldn't it run?

Is there a "proper" way to run this job manually or do i need to just take apart the template

[2020-07-17 20:13] J0sh0nat0r commented on #119
@Yomanz It's a hook that should run automatically and get cleaned up when running `helm install`. You could re-run the installation or create the job manually from the template, unfortunately I don't think there's native functionality in helm for streaming hook logs so you'll have to do that manually.

[2020-07-19 16:31] vishnu123sai opened #120 "I am changeing image repo and tag using --set flag but not effeccting to deployment"

[2020-07-19 16:32] vishnu123sai commented on #120
helm install stable/sentry --version 4.3.0 --set images.sentry.tag=10.0.0

but not effecting

[2020-07-19 16:35] vishnu123sai opened #121 "Not able configure sentry 10.0.0 even i have change the image tag in values.yaml"
helm install stable/sentry --version 4.3.0 --set images.sentry.tag=10.0.0 , not able to configure Sentry 10.0.0, could you please help me withrequired changes

[2020-07-19 17:00] Mokto commented on #120
Duplicated with #121

[2020-07-19 17:00] #120 closed, assigned to nobody

[2020-07-19 17:01] Mokto commented on #121
This is not an issue with this repository.
For general questions about helm, please use stack overflow.

Note: the 4.3.0 version of this chart is not compatible with the 10.0.0 tag.

See #115

[2020-07-19 17:01] #121 closed, assigned to nobody

[2020-07-19 17:09] vishnu123sai commented on #115
Not able configure sentry 10.0.0 even i have change the image tag in values.yaml, can some one help here

[2020-07-19 17:11] vishnu123sai commented on #121
@Mokto  can you please let me know which version is compatible  with Setry 10.0.0. also share slack/any social media link if we have any

[2020-07-20 05:37] vishnu123sai commented on #115
I got to know that sentry 10.0.0 is not supported with version 4.3.0 but I want to use sentry 10.0.0, which version support sentry10.0.0

[2020-07-20 07:15] Mokto commented on #115
You can try 1.3.1.

[2020-07-21 16:53] #115 closed, assigned to nobody

[2020-07-22 07:09] toabi commented on #117
Just a note: I found out that Kafka really needs enough resources otherwise it goes into a funny crash-loop where it TERMs just after ~10 seconds in the beginning.

[2020-07-22 07:11] Mokto commented on #117
Agreed, that would be nice to have!

[2020-07-22 07:12] Mokto commented on #113
I've done it because it's easier to use for local development. (I work with `repository: file://../charts/sentry`).

[2020-07-22 07:30] DandyDeveloper commented on #117
@toabi  @Mokto I'd argue the subcharts (Or application maintainers) should be responsible for suggesting resources to the user.

Dependencies absolutely have their own minimum requirements, but arguably just leaving them as defaults gives them all the resources they would expect. It'd be clear from OOMkiller etc if those components had higher expectations (Which should come into play before it bre

[2020-07-22 07:33] DandyDeveloper commented on #116
@kimxogus Can you raise the issue or try the latest? The stable is deprecated and I'm maintaining the "official" current one: https://github.com/DandyDeveloper/charts/tree/master/charts/redis-ha

It may be something worth solving as it shouldn't drop the connection frequently.

As for this request, we want to default to redis-ha, but making those change backwards compatible comes with difficulties

[2020-07-22 07:34] DandyDeveloper commented on #108
@margeson Possibly an issue with regression in the previous versions causing this. Deleting the service should resolve this.

What does the init job log say about the failure? It'll be pretty obvious if you `kubectl logs` into the `sentry-db-init` pod.

[2020-07-22 07:35] Mokto opened #127 "CSRF Token issue. No events received with 20.7.2 / 20.7.1"
See https://forum.sentry.io/t/csrf-token-issue/9607/3.

We probably have to introduce nginx + relay, as in the on promise installation.

[2020-07-22 07:36] Mokto commented on #86
Hey! When do you plan on implementing that ?
I think because of [this issue](https://github.com/sentry-kubernetes/charts/issues/127), it is more and more a priority.

If you don't have time, I can have a look at it.

Thanks!

[2020-07-22 07:52] toabi commented on #117
Yeah, I know, that's why resources are never pre-configured. It makes sense. Thing is: Okay sentry needs 2.4GB - but how to distribute it to the containers? Even some rough hints would be useful I think.

[2020-07-22 08:38] mitchfriedman commented on #86
Hey, sorry I haven't had as much time as I was expecting - feel free to pick this up, not sure i'll be able to get around to it this week or next.

[2020-07-22 10:31] vishnu123sai opened #129 "Issue with image replacement of sentry 10.0.0"
If we edit the deployment with sentry 10.0.0, pods are not creating, thronging Error and POD is going BackOff state

[2020-07-22 11:01] Mokto commented on #129
Sorry, I don't plan on supporting version 10.0.0 anymore (version 1 of this chart).
Why don't you just use the latest one?

[2020-07-22 11:01] #129 closed, assigned to nobody

[2020-07-22 11:36] vishnu123sai commented on #129
My requirement is to use 10.0.0 only, I am try all versions but getting lot of errors with 10.0.0

[2020-07-27 07:09] ruseel opened #134 "duplicated nodePort declaration in template"
two file has same `nodePort` declaration

like

so  If I activate this if statement
I got error

because two k8s `service` has save `nodePort`.

[2020-07-27 07:20] Mokto commented on #134
Yes, I also noticed recently that for services, every service is using that `service` value.

[2020-08-03 13:54] fibis commented on #112
@Mokto Is there an easy way to successfully run an upgrade after I forgot to set the password?

[2020-08-03 14:08] Mokto commented on #112
Not sure how, to be honest.

[2020-08-03 14:22] fibis commented on #112
Found a good way: go into the PostgreSQL container and print the environment variables. There is than also the correct password that can be used for the upgrade process.

[2020-08-04 09:06] joscha-alisch opened #138 "Post process forwarder: commit-batch-size=1"
Hi there :)

is there specific reason why commit batch size is set to 1 in the post-process-forward deployment? I've seen the app be able to process a much higher volume of post processing when I remove this option.

In case this can be removed, I am happy to provide a PR, either removing it altogether or at least making it configurable :)

[2020-08-04 10:30] Mokto commented on #138
The idea was to follow the official docker solution -> https://github.com/getsentry/onpremise/blob/master/docker-compose.yml#L172

But you can make it configurable if you want ;)

[2020-08-04 13:54] joscha-alisch commented on #138
Ah cool, it even says that this should be adapted according to needs in the comment. I'll get that PR ready :)

[2020-08-04 14:23] vishnu123sai opened #139 "i am not able to assign cutom image to helm chart with --set images.sentry.repository=sentry , --set images.sentry.tag=9.1.2"
helm install stable/sentry --version 4.3.0 --set images.sentry.repository=sentry --set images.sentry.tag=9.1.2 --set user.email=xxxxx@gmail.com --set user.password=Qwerty@123

I am not able to change the image while installing.

[2020-08-04 14:49] Mokto commented on #139
What do you mean by "I am not able to change the image while installing"? It crashes, it shows an error ?

[2020-08-04 15:00] vishnu123sai commented on #139
it is not effecting the chart, we are getting same image what is by default.

[2020-08-04 15:01] Mokto commented on #139
You're not using this chart, you're using the deprecated one.

[2020-08-04 15:01] #139 closed, assigned to nobody

[2020-08-04 15:07] vishnu123sai commented on #139
even with 4.6.0 it is not working

[2020-08-04 15:10] Mokto commented on #139
Please use https://sentry-kubernetes.github.io/charts

[2020-08-06 12:34] #138 closed, assigned to nobody

[2020-08-09 10:31] tombh commented on #77
Does this mean that we can't scale `sentry-web`? What is stored on the PVC? Is it possible to run `sentry-web` without a PVC?

[2020-08-11 14:46] Mokto commented on #86
Closed with 7ae3651

[2020-08-11 14:46] #86 closed, assigned to nobody

[2020-08-11 14:46] Mokto commented on #127
Closed with 7ae3651

[2020-08-11 14:46] #127 closed, assigned to nobody

[2020-08-11 17:50] ts-mini opened #145 "Hardcoded config map fails on deployment not named "sentry""
I believe this line is the culprit:

https://github.com/sentry-kubernetes/charts/blob/7ae365187da883efd891c351dc75c2e566112718/sentry/values.yaml#L247

How to reproduce: Install this chart from scratch with the release name "sentry-test" - everything will boot but `sentry-test-nginx` as its looking for the wrong config map

[2020-08-11 20:24] Mokto commented on #145
Unfortunately I'm leaving for 2 weeks tomorrow so I don't have time to fix that, but I'm sure someone else will find a solution.

One would be to use nginx without a chart:
Like here : https://github.com/sentry-kubernetes/charts/pull/130/files#diff-be3a4173e7b3150feac7a6214ee6a288

[2020-08-12 09:26] Moulick opened #146 "General Guidance:"

[2020-08-12 09:30] Moulick opened #147 "General Guidance: Is sentry-clickhouse-init job idempotent ?"
Hi @yoan-adfinis , If I run the sentry-clickhouse-init job, which does the below multiple times, will that be ok ? Like if this is job is run again on a running sentry installation, would it break it ?
[code]

[2020-08-12 11:49] #146 closed, assigned to nobody

[2020-08-12 17:33] J0sh0nat0r commented on #147
@Moulick It is indeed, the distributed tables are stateless and can be dropped and re-created without issue (maybe a few ms of unavailability). TL;DR: Safe to run multiple times

[2020-08-12 17:33] #147 closed, assigned to nobody

[2020-08-12 17:43] Moulick commented on #147
thanks a lot @J0sh0nat0r. Also do you know of any way to change the default org from sentry to something else, not via the sentry ui but like sentry.cong.py or config.yml file or something ?

[2020-08-13 11:10] Perfect-Web opened #149 "external services not obeyed"
having
[code]

does not have any effect, the chart ignores those and still deploys them

[2020-08-14 15:33] jseiser opened #150 "Chart Doesnt Deploy?"
Relay - This never comes up
[code]

Web - Shows running
[code]

Chart version: 5.0.0
Deployed onto EKS

I've set

[code]

[2020-08-14 15:34] jseiser commented on #150
Database contains errors as well

[code]

This goes on and on.

[2020-08-14 15:56] jseiser commented on #150
None of the jobs appear to exist/run either.

[2020-08-14 16:31] jseiser commented on #150
Disabling relay allows everything to come up.

[2020-08-14 16:54] jseiser commented on #150
Starting the relay, AFTER everything else appears to work.

Closing out.

[2020-08-14 16:54] #150 closed, assigned to nobody

[2020-08-16 19:52] ivanblack19 opened #151 "No ability to add tolerations/nodeselectors/nodeAffinity to Subcharts"
Helm chart 5.0.0 installed but I could not to force clickhouse , kafka , rabbitmq, postgresql , redis , zookeeper services to dedicated node pool for Sentry.
Could you suggest how to deal with that ?

[2020-08-16 20:05] hairmare commented on #151
With some of these (esp. those from external chart repos) you will probably want to replace them with your own/an other chart and configure them as an external services in the actual sentry deployment.

In most cases sentry-kubernetes offers the option to do this, but you might be off the well trodden path and would have to PR some fixes to make this possible.

clickhouse is the only chart hosted

[2020-08-16 20:18] hairmare commented on #149
We decided to use redis and I'm pretty sure that I have a `rabbitmq.enabled=false` cluster up and running.

The value should lead to the disabled chart not even being available.

https://github.com/sentry-kubernetes/charts/blob/7ae365187da883efd891c351dc75c2e566112718/sentry/Chart.yaml#L20-L24
Can you share more details that might help explain why disabling deps doesn't work on your setup?

[2020-08-16 20:23] hairmare commented on #108
`helm upgrade --force` also helps redeploy in cases where kubernetes is complaining about immutable fields. It deletes the service before redeploying it as needed. Using `--force` might impact your uptime and SLOs but if you can live with that it's totally fine to use.

[2020-08-16 20:25] hairmare commented on #84
👍 on getting rid of the cron pod entirely! I didn't take the time to figure out what it does but I'd totally agree that all of it should be achievable through proper K8s CronJobs.

[2020-08-16 20:41] hairmare commented on #145
I ran into this exact case when I named my release `test-sentry`. The hardcoded `existingServerBlockConfigmap` should be based on something generated, leaving the value available to folx that have a real need to override it.

As a workaround you'll have to specify a value matching your configmap.

[2020-08-17 07:21] Perfect-Web commented on #149
@hairmare that is quite simple, i already have this deps as common services also used for something else.
The problem is that if you set them to enabled: false they still get deployed by the chart which it shouldn't happen

[2020-08-17 15:26] jseiser opened #152 "KubeStatefulSetUpdateNotRolledOut - RabbitMQ"
Seem to be getting this.. randomly?

If I go through and delete each rabbitmq pod, it goes away.

[code]

Noticed this after changing a mail value for Sentry Web.

[2020-08-17 15:56] ivanblack19 commented on #151
We are using it on Google Kubernetes Engine with Terraform + Helm (not sure if mutating admission controller or a helm + kustomize available  )
The issue actually that extra charts are given as .tgz and we are not able to pass any values to it, and modifying them for sure will need much effort to keep consistent

[2020-08-18 09:14] hairmare commented on #151
Hmm... I was under the impression that the charts do not support what you need (which is not the case for postgresql).

You can pass extra values to the included charts (ie. specifying a nodeSelector for the postgresql master) as follows:

[code]

See [here](https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#overriding-values-from-a-parent-chart) for more docs on how to pass values t

[2020-08-18 09:53] hairmare commented on #149
This is weird... I just checked on my test cluster and I don't have rabbitmq deployed using the following value:

[code]

I'm on 5.0.0 of the sentry chart... I didn't test disabling postgresql or kafka, but at least disabling rabbitmq seems to work as intended.

[2020-08-18 10:05] ivanblack19 commented on #151
Hello your suggestion actually works fine
How about sentry-zookeeper ? I can not find how it is deployed or configured ?

[2020-08-18 10:38] ivanblack19 commented on #151
Zookeeper in Jafka actually!

[2020-08-18 10:38] #151 closed, assigned to nobody

[2020-08-18 10:39] ivanblack19 commented on #151
Zookeeper in Kafka actually! Solved!

[2020-08-18 11:22] J0sh0nat0r commented on #149
I'm running with Redis, Postgres and RabbitMQ disabled and none are deployed. Could you be using an outdated version of the chart by mistake?

[2020-08-18 12:28] Perfect-Web commented on #149
I'm 100% sure i deployed the right one

On 18.08.2020 14:22, Josh wrote:

[2020-08-18 15:35] ivanblack19 opened #153 "django.security.csrf: Forbidden"
After upgrade to chart 5.0.0
We can see in sentry-web logs:

Logs from backend NOT ingested,
We DO NOT use NGINX or INGRESS (we use Google Load Balancer) to access Sentry.

part of config as follows

[code]

[2020-08-19 15:08] renich opened #154 "nginx-server-block can't be found after upgrade"
I had a pretty recent installation.

[code]

And upgraded to:

[code]
And nginx and nginx and one of the web pods are failing.

Also, I am seeing these events in the namespace:

[code]

The upgrade process was as follows:

[code]

[2020-08-19 15:10] renich commented on #154
Another thing, here's my configmap list:

[code]

[2020-08-20 15:16] vishnu123sai opened #156 "Getting Error if i click on events , Errors in clickhouse"
![image](https://user-images.githubusercontent.com/35533739/90790652-f0b65e00-e325-11ea-8a6a-0201189b17d3.png)

events page is not loading, getting errors clickhouse

<Debug> MemoryTracker: Peak memory usage (total): 0.00 B. 2020.08.20 21:26:05.420204 [ 10 ] {35e1674afab5945846e3284f57300e04} <Error> executeQuery: Code: 60, e.displayText() = DB::Exception: Table default.sentry_dist doesn't exist.

[2020-08-20 19:23] J0sh0nat0r commented on #156
@vishnu123sai Please could you provide the output of the `clickhouse-init` job, along with any custom configuration you have for ClickHouse?

[2020-08-20 19:24] J0sh0nat0r commented on #154
@renich This is a known issue in the current version, you should be able to fix it by setting `nginx.existingServerBlockConfigmap` to `cs-sentry-nginx`

[2020-08-20 22:21] renich commented on #154
I had to add that to the my-values.yaml file I have. Also, I had to manually delete both web pods in order for the volume to be mounted.

Another thing. I can't login after this. It keeps complaining about CSRF being wrong. I've cleared all cookies and all. No idea.

I dunno if this is the right place to post all of this. Let's just say that these are problems caused by upgrading! ;D

[2020-08-20 23:14] J0sh0nat0r commented on #154
@renich That'll be #153, it should be fixed soon. If you're using the NGINX ingress controller you should set `nginx.enabled` to `false`, or if you're using Traefik I can provide the IngressRoute we have configured

[2020-08-21 02:33] vishnu123sai commented on #156
Actually job was failing, so i manually doing the tasks which are in jobs. Can you please let me know the manual steps for clickhouse init job and what it will do if we ran the job?

what type of information will be stored in clickhouse?

[2020-08-21 04:50] vishnu123sai commented on #113
Hi It is also good to provide the resource hierarchy, like which k8s resources follows which one. It will be for the people who will use Kubernetes resources manifests instead helm chat.

[2020-08-21 05:05] tetsun opened #157 "Cannot edit SENTRY_SINGLE_ORGANIZATION"
https://github.com/sentry-kubernetes/charts/blob/7ae365187da883efd891c351dc75c2e566112718/sentry/templates/configmap-sentry.yaml#L141

want enable multiple organization.

[2020-08-21 16:08] vishnu123sai commented on #156
Received exception from server (version 19.16.19):
Code: 170. DB::Exception: Received from sentry-1598017392-clickhouse-0.sentry-1598017392-clickhouse-headless:9000. DB::Exception: Bad get: has UInt64, requested String.

[2020-08-21 16:09] vishnu123sai commented on #156
Can you please provide manual steps for clickhouse init job

[2020-08-21 19:59] J0sh0nat0r commented on #156
The steps the job takes depend on your ClickHouse configuration and the template can be found [here](https://github.com/sentry-kubernetes/charts/blob/7ae365187da883efd891c351dc75c2e566112718/sentry/templates/hooks/clickhouse-init.job.yaml#L42), you could run them manually however your deployment is likely to break at some point in the future if this job cannot run successfully.

[2020-08-24 20:53] emcdonnel opened #159 "9->10 Instructions Clarification"
Hello-

Currently, I am running the deprecated 9 version (specifically the chart sentry-1.3.1). I would like to upgrade Sentry using this repo.

I believe my upgrade will require:
- stable/sentry 1.3.1 to sentry/sentry 3.1.0
- sentry/sentry 3.1.0 to sentry/sentry 4.0.0
- sentry/sentry 4.0.0 to sentry/sentry 5.0.0

For me, Sentry is running in a K8S namespace with other apps.

In the README for 9->

[2020-08-24 23:08] DandyDeveloper commented on #159
@emcdonnel Pretty sure the bit over `-n` is hidden by markdown.. It's just for declaring a namespace which in upgrades isn't necessary in helm 2.

It's only relevant for helm 3, which does require the namespace. This is how it actually looks:

[code]

[2020-08-25 02:38] renich commented on #154
That did it @J0sh0nat0r. Thanks a lot.

[2020-08-25 02:38] #154 closed, assigned to nobody

[2020-08-25 09:58] sijmenvos commented on #157
You can override it in the helm values:

[code]

[2020-08-26 22:14] emcdonnel commented on #159
Thanks @DandyDeveloper! That is super helpful.

[2020-08-27 05:05] #159 closed, assigned to nobody

[2020-08-27 07:12] Mokto commented on #152
Have you changed the default values of the rabbitmq chart?

[2020-08-27 07:13] Mokto commented on #157
Thanks @sijmenvos.

Closing but we could allow this to be changeable in the values.yaml file without changing sentryConfPy

[2020-08-27 07:13] #157 closed, assigned to nobody

[2020-08-27 07:14] Mokto commented on #153
Hey,

Can you share your Google Load Balancer config somehow?

You have to redirect the store events on relay. If you don't, you get csrf issues.

[2020-08-27 07:15] Mokto commented on #156
@vishnu123sai have you fixed your issue ?

[2020-08-27 07:16] Mokto commented on #149
Same, everything is disabled on my side, and charts are not deployed.

Are you, by any chance, deploying sentry as a subchart?

[2020-08-27 07:17] vishnu123sai commented on #156
yes,

[2020-08-27 07:17] #156 closed, assigned to nobody

[2020-08-27 07:17] Mokto commented on #119
@Yomanz is your issue fixed?

[2020-08-27 07:21] Mokto commented on #156
Cool, thanks.

[2020-08-27 07:42] tetsun commented on #157
Thanks @sijmenvos

[2020-08-27 08:39] ivanblack19 commented on #153
Could you suggest how to redirect the store events on relay ?

As for Google Load Balancer we use a standard NEG (network endpoint group) in Sentry Service

[code]

And then we create standard HTTP(S) Global Load balancer in Google

<img width="1015" alt="image" src="https://user-images.githubusercontent.com/56841680/91417729-e6cab880-e859-11ea-8fb7-46227ebeb7df.png">

[2020-08-27 08:57] Perfect-Web commented on #149
no, i am not, im deploying thru rancher v2.3.5

[2020-08-27 09:37] Mokto commented on #153
Ah, ok! That's why it doesn't work.

You can either :
1) Enable nginx and redirect your load balancer to nginx instead (easiest solution)
2) Change your path rules to redirect `/api/store` & `/api/[1-9]\d*/` to relay. See [this example](https://github.com/sentry-kubernetes/charts/blob/develop/sentry/templates/configmap-nginx.yaml#L22-L32)

[2020-08-27 09:43] Mokto commented on #149
I don't have any experience with rancher, so I can't really help here.

I'm pretty sure it's possible to remove the external dependencies, by settings enabled to false, though. On a classic helm install.

[2020-08-27 11:17] ItsReddi opened #161 "5.0.1 template stucks on install - db-init"
Steps to reproduce:
1. Create a fresh install without upgrading.

Result Chart cannot finish install. sentry-db-init stucks on:
[code]

[2020-08-27 11:23] Mokto commented on #161
Hey,

Are you sure you remove all leftovers from a potential old installation of sentry ?

[2020-08-27 11:26] ItsReddi commented on #161
Yes, and the 5.0.0 template installs fine without any issues

[2020-08-27 11:30] ItsReddi commented on #161
Yes i'm sure. I can see following.
A Postgres Secret is created with password. init-db is creating some tables.
5 minutes later the secret password has changed and the init-db pod starts complaining.

It could be something like you mentioned in README?

[2020-08-27 11:32] Mokto commented on #161
I would always recommend to setup a password for postgresql.
Because even if it should work for the initial install, the next updates will not work.

Not sure why you have this issue with a fresh install though.

[2020-08-27 11:52] ItsReddi commented on #161
I can confirm after setting postgres password on install. Secret values does not change via install.

But now Relay starts to complain.
Relay:
[code]
sentry-web:
[code]

[2020-08-27 12:01] ItsReddi commented on #161
After waiting getting a coffee and smoking a cigarette everything seems to be started. I am confused.

[2020-08-27 12:01] #161 closed, assigned to nobody

[2020-08-27 12:02] Mokto commented on #161
It needs some time to setup authentication between relay&sentry. Cool you fixed it ;)

[2020-08-27 20:39] Yomanz commented on #119
I manually migrated the DB from the template, thanks.

[2020-08-27 20:39] #119 closed, assigned to nobody

[2020-08-28 03:53] abhishek-ram opened #162 "Transactions not showing up in the Performance tab"
## Description

I Installed sentry using this helm chart and I was able to get it up and running. I was able to connect it to my django backend and the issues and events started flowing into sentry. But there is one issue which is that I am able to see transactions being recorded in the Events tab but when I open the Performance tab it says "No Results Found"

## Steps to Reproduce

1. Open the Ev

[2020-08-28 05:21] Mokto commented on #162
See https://github.com/sentry-kubernetes/charts/pull/142

[2020-08-29 16:37] vishnu123sai opened #163 "Unable to restore the backup to postgress pod"
Unable to restore the backup to postgres pod, how it can be done. what are the steps we need to implement.

[2020-08-30 00:07] DandyDeveloper commented on #163
@vishnu123sai This is more likely a question for the pg chart as we use that as a dependency, but in my experience, you just enable restore on the chart, add the details of the backup you wanna restore and upgrade. I believe this creates an init container which restores the data. Obviously, you'd need to clear the existing PVC first so make sure you have a recent backup and an empty directory for

[2020-08-31 03:50] achichenin opened #166 "Traefik 2.2 Ingress Issues"
It's not directly an issue of this chart, yet it can be handled internally or, at least, explicitly documented.

**Routes**

Traefik 2.2.x Ingress does require path to be configured as
-  `'/api/{[1-9][0-9]*}/{(.*)}'`
 instead of
- `'/api/[1-9][0-9]*/(.*)'`

I do not believe that there is a universal version of the configuration for all modern ingress controllers, so helm charts generally have to

[2020-08-31 03:52] DandyDeveloper commented on #162
@Mokto @abhishek-ram Worth noting, this could also be if Kafka is out of wack and the Snuba consumers can't find their place. I had a similar issue where I had to reset the position in Snuba / Clear out the queue entirely to get it working.

[2020-08-31 05:45] Mokto commented on #162
It should be fixed through 5.1.0.

@DandyDeveloper @abhishek-ram let us know if this is enough ;)

[2020-08-31 05:45] #162 closed, assigned to nobody

[2020-08-31 05:45] Mokto commented on #153
@ivanblack19 is your issue resolved ?

[2020-08-31 05:46] #149 closed, assigned to nobody

[2020-08-31 05:47] Mokto commented on #77
Sorry for the late response. On the PVC are stored the release artefacts you upload, for example.

I think it should be possible, but haven't tried, to be honest.

[2020-08-31 06:17] Mokto commented on #163
Yeah I'm going to close this, as this is not related to this chart.

But thanks @DandyDeveloper for your help.

[2020-08-31 06:17] #163 closed, assigned to nobody

[2020-08-31 06:30] vishnu123sai commented on #163
Thanks @Mokto @DandyDeveloper ,

I tried by scaling required deployments to zero and then restored my backup in to postgres pod.

[2020-08-31 22:30] J0sh0nat0r commented on #77
@tombh Yes, configuring an alternative filestore will remove the PVC requirement. For example S3:
[code]

[2020-09-01 04:28] Mokto commented on #77
I think @tombh was talking about no filestore at all.

For more infos you can also check this page : https://develop.sentry.dev/services/filestore/

[2020-09-01 12:24] martinraison opened #168 "ErrImagePull when deploying the chart (Sentry 20.8.1 not released yet)"
I'm unable to deploy the current version of the chart because Sentry 20.8.1 has not been released yet. I guess the chart should be using 20.8.0 instead ?

[2020-09-01 12:55] Mokto commented on #168
Could you try again with version 5.1.2 of the chart ?

[2020-09-01 14:10] sagor999 commented on #77
@J0sh0nat0r do you know what will happen if I reconfigure existing sentry-web from PVC to using S3? I assume it will lose existing data that it has on PVC? And what type of data does it store there, do you know?
thank you!

[2020-09-01 15:05] martinraison commented on #168
Great, version 5.1.2 is working for me, I was able to upgrade to Sentry 20.8.0. Thanks!

[2020-09-01 15:05] #168 closed, assigned to nobody

[2020-09-01 16:03] gboor commented on #21
I am also interested in LDAP, as well as OIDC and GCS. The problem is indeed that the Sentry image as provided does not have those plugins baked in.

A quick and dirty option I see is to override the command, though that's not possible without modifying the chart and also adds some startup overhead.

It would be really nice to have some way of installing plugins from chart config, but I think that

[2020-09-02 01:23] J0sh0nat0r commented on #77
@sagor999 Yes the existing data would be lost, although it should be possible to manually upload existing data to S3 according to [this](https://forum.sentry.io/t/migration-of-files-from-filesystem-to-s3/5208) forum post. I'm afraid I'm not really sure what's stored on there beyond what Mokto mentioned though

@Mokto Maybe we should optionally deploy minio (maybe even by default?) to allow scaling

[2020-09-04 00:35] DandyDeveloper opened #169 "Ingest Consumer configured incorrectly?"
I'm just reviewing this, will make a PR if necessary, but when deploying / upgrading to the latest version of the chart (using 10.0.1 of Sentry) I'm getting the following:

[code]

May have something to do with my own image of Sentry (I build my own from `getsentry/sentry`)

[2020-09-04 00:38] DandyDeveloper commented on #169
It looks like in 10.0.1 of Sentry we don't have an `--all-consumer-types` option?

[code]

[2020-09-04 00:39] DandyDeveloper commented on #169
Even in the default 10.0 this doesn't look like it was ever an option?

[code]

[2020-09-04 00:43] DandyDeveloper commented on #169
Look like I' ma bit behind understanding how they do their versioning. 20.8.0 does indeed have this functionality.. No idea what version 20.8.0 is running though...

Closing for now as I think this is my issue. Need to use later version of the image.

[2020-09-04 00:44] #169 closed, assigned to DandyDeveloper

[2020-09-04 01:31] DandyDeveloper opened #170 "Clickhouse logs should be writing to stdout"
It looks like logs for Clickhouse (init and running pods) logs are missing.

Since we're managing the clickhouse side, this is probably something we have the power to update.

[2020-09-04 14:21] ItsReddi commented on #153
We have the same? issue but with an other configuration.
We launched the helm chart with Nginx. (without any special config) and exposed sentry-web via ingress. Ingress does ssl termination.
But we are getting:
[code]

[2020-09-04 18:37] ruiengana commented on #153
We have same problem than @ItsReddi after upgrading new chart.

In our log
`18:35:44 [WARNING] django.security.csrf: Forbidden (Referer checking failed - no Referer.): /api/3/store/ (status_code=403 request=<WSGIRequest: POST u'/api/3/store/'>)`

Not sure if helps, but here is a short snippet of our Helm values.yaml

nginx:
  enabled: false
  containerPort: 8080
  existingServerBlockConfigmap: sen

[2020-09-05 07:56] Mokto commented on #153
You have to use relay with the new version.So expose nginx to your ingress, not sentry-web, everything should be fine.

[2020-09-05 08:33] ItsReddi commented on #153
Thanks for the hint. Does not work either but checked the log of nginx and:
[code]

After updating nginx config to an other port, it works. But there seemed to be started another nginx server with 8080?

[2020-09-05 09:10] ruiengana commented on #153
I understand we need to use Relay but wasn't expecting to add another Nginx to our stack :/

Is your suggestion to avoid using Ingress and use Nginx instead, and manage outside the Helm release an ingress to map the Nginx from Helm release?

Shouldn't the Ingress from Helm Chart be simply configured to replicate what the Nginx from Helm Chart is doing?

[2020-09-07 07:58] ruiengana commented on #153
Managed to get this working with Nginx, but like @ItsReddi I also had to change the Sentry Nginx service port to 8080 otherwise it didn't work.

My 5 cents on the new Helm Chart.

It seems to me Sentry Nginx needs to be there, otherwise the setup simply doesn't work, it's not an optional component for enabled: true/false flag like suggested in documentation.
On the other end, the Sentry Ingress co

[2020-09-09 00:08] sagor999 opened #171 "Sentry stops processing new events"
Hi,

I have upgraded to 5.1.0 chart, and noticed that after X hours sentry will stop processing new events.
Right before it would stop, this is the last thing that I see in events:
[code]
And there is a whole bunch of those.

But as far as I know symbolicator is not even enabled in this chart, correct?
I am wondering why it attempts to establish connection to it?
Has anyone seen this?

Restarting

[2020-09-09 05:49] DandyDeveloper commented on #171
@Mokto Looks like we have the config options here: https://github.com/sentry-kubernetes/charts/blob/d2705c3317da466c70b62ec24c6c0ec11810af04/sentry/templates/configmap-sentry.yaml#L23

But we never actually created or we at some point removed this from the chart?

[2020-09-09 05:52] DandyDeveloper commented on #21
@arianf @gboor I don't think we'll every bring this in, because it is inherently supported.

You need to pass in the attributes as environment varaibles through your `sentry.conf.py` then just add the env params into the container.

We already support this. We just can't directly have an option that says "add LDAP" because the plugin has to be built with the Sentry image.

To confirm, you'll need

[2020-09-09 05:52] #21 closed, assigned to nobody

[2020-09-09 11:43] Mokto commented on #171
It was never created and should never be enabled : https://github.com/sentry-kubernetes/charts/blob/d2705c3317da466c70b62ec24c6c0ec11810af04/sentry/values.yaml#

Cf #54.

@sagor999 Have you changed that value ?

[2020-09-09 12:27] BYK commented on #84
The `cron` worker on Sentry would still be needed as it is actually celery-beat but other `-cleanup` images built from base images with Cron layered on top should be trivial to get rid of with k8s scheduled event runs. The reason we have them this way is `docker-compose` not having this functionality.

[2020-09-09 14:24] sagor999 commented on #171
@Mokto nope, it is set to `false`

[2020-09-09 20:08] hmonadjem commented on #29
@i5okie same here, how did you solve it?

[2020-09-11 10:01] kpbll opened #172 "Upladed source maps are not visible from sentry ui"
Sentry was deployed by helm chart 5.0.1 and upgraded to 5.1.0, we have same exceptions(see below) for both versions in sentry-worker's logs
Source maps uploaded by sentry-cli with success status.
But we have no artifacts in release in UI.

exception:
`IOError: [Errno 2] No such file or directory: u'/var/lib/sentry/files/a4/5fe5/b312bc4f8f941d50fe4908bd2f'
16:03:15 [ERROR] celery.app.trace: Task se

[2020-09-14 00:08] DandyDeveloper commented on #171
@Mokto

It won't matter if someone disables it, it's still references in the config by default. We should probably just wrap the whole thing in an `{{- if ... }}`

https://github.com/sentry-kubernetes/charts/blob/d2705c3317da466c70b62ec24c6c0ec11810af04/sentry/templates/configmap-sentry.yaml#L24

[2020-09-14 06:43] Mokto commented on #171
Just did that here, hopefully that will solve the issue.

https://github.com/sentry-kubernetes/charts/pull/173

[2020-09-14 07:04] Mokto commented on #171
Could you try again with 5.1.3 ?

@sagor999

[2020-09-14 10:10] BYK commented on #169
Hoping that this helps you understand it better: https://develop.sentry.dev/self-hosted/releases/

[2020-09-14 14:27] sagor999 commented on #171
@Mokto for what it worth, it has not done this since last week. But I deployed this update and so far so good. I will close this issue now, but if it will happen again, will re-open.
Thank you!!

[2020-09-14 14:27] #171 closed, assigned to nobody

[2020-09-14 16:46] fabriciols commented on #154
i had the same on a new frash install, using this cmd:

[code]

[code]

and the nginx pod doesnt get up

[code]

Also , the init-db pod is throwing some errors
[code]

and postgres pod

[code]

(should i open a new issue?)

[2020-09-16 11:10] nsyujian opened #174 "[feature request] support sentry 20.9.0"
20.9.0 fix Worker / celery stops working

https://github.com/getsentry/onpremise/issues/629

[2020-09-17 09:01] swcleo opened #175 "[Relay] authentication encountered error: could not send request to upstream"
when I use helm to deploy sentry on my k8s cluster, Pod relay is not ready and get some error.

There is a paragraph in README

As Relay is now part of this chart your need to make sure you enable either Nginx or the Ingress. Please read the next paragraph for more informations.

If you are using an ingress gateway (like istio), you have to change your inbound path from sentry-web to nginx.

**Can

[2020-09-17 09:03] Mokto commented on #175
It's a known issue : the first time you install the chart, it takes some time to register relay properly.

When the pod restarts it should be fine ?

[2020-09-17 10:07] swcleo commented on #175
I tried to wait for 20 minutes to check the execution status, but pod relay keep restarting all the time.
This is my helm chart, it can be used to simulate the situation.

https://github.com/swcleo/sentry-test.

[code]

[2020-09-17 10:41] Mokto commented on #175
Out of curiosity, have you done the UI setup on your sentry installation ?

[2020-09-17 10:54] swcleo commented on #175
No.

[2020-09-18 01:12] swcleo commented on #175
no. It is currently still in the helm install stage, and even the job that created the sentry-db-init has not been started yet

[2020-09-18 02:13] swcleo commented on #175
May I ask how long is the "some time"?

[2020-09-18 03:55] swcleo commented on #175
03:54:35 [WARNING] django.security.csrf: Forbidden (CSRF cookie not set.): /api/1/store/ (status_code=403 request=<WSGIRequest: POST u'/api/1/store/?sentry_key=69b8a633500f449fb7766e35378ad46c&sentry_version=7'>)
10.244.0.5 - - [18/Sep/2020:03:54:35 +0000] "POST /api/1/store/?sentry_key=69b8a633500f449fb7766e35378ad46c&sentry_version=7 HTTP/1.1" 403 5027 "http://localhost:3000/" "Mozilla/5.0 (Maci

[2020-09-18 17:38] michaelquong commented on #175
I am also getting a similar problem.
I have had tagged version 4.2.0 running prior but wanted to upgrade to the latest tagged version 5.1.0

For myself, doing a helm upgrade all components came up except for relay.

[2020-09-19 03:19] WolfspiritM commented on #175
EDIT:
**I think I found the problem. If you run the chart with --wait or --atomic then the post install hooks are run as soon as everything is done. However without that post install scripts the chart never gets done cause the pods don't come up cause of missing migrations.** As soon as I removed --atomic the chart succeeds and pods come up.

----

Similar issue here. I'm trying to install this ch

[2020-09-19 15:58] Ilya-Kuchaev commented on #153
Same issue with the latest version.
[code]

[2020-09-21 02:37] swcleo commented on #175
Relay will wait until the database is created.
I try to comment out `deployment-relay.yaml` "livenessProbe" and "readinessProbe", complete all initialization jobs and all pods be Running.

When I try to test sentry, I got another problem.

[code]

kubectl logs -f sentry-web-xxx

[code]

I am confirming whether the gateway does not match.

Ingress: Istio

[code]

[2020-09-21 03:38] swcleo commented on #175
Reference this issue

https://github.com/sentry-kubernetes/charts/issues/153

I change virtualservice config,

[code]

sentry-nginx is used to distribute the request to sentry-relay and sentry-web.

When client POST Error to sertry,

client -> nginx => Good.

nginx -> relay => Good.

relay -> kafka => Bad!!!

[code]

[2020-09-21 09:28] swcleo commented on #175
Finally, I finished deploy sentry service with k8s.

1. kafka replicaCount must match your config.
 => check kafka logs

2. If relay always get ERROR: authentication encounteredm, delete current relay pod
=> kubectl delete pod sentry-relay-xxx

[2020-09-21 09:51] jsenzier-oxeva opened #176 "Sentry relay - regex issue in ingress"
Hi,

We installed sentry chart (https://github.com/sentry-kubernetes/charts/tree/develop/sentry) on Friday and we discovered some issues about relay and sentry ingress. We disabled nginx and use our ingress controller to forward events to relay which push them in sentry-web.

On this yaml ingress config file :
[https://github.com/sentry-kubernetes/charts/blob/develop/sentry/templates/ingress.yaml]

[2020-09-21 10:01] jsenzier-oxeva opened #177 "Sentry relay - default port in configmap is wrong"
Hi,

We encountered issue with the relay connection to sentry. The connection wasn't successfully because the destination port in the relay's config map is not correct :

https://github.com/sentry-kubernetes/charts/blob/develop/sentry/templates/configmap-relay.yaml

[code]

By default, the value in the configmap will be :

[code]

It can't work as the external port of sentry-web is 443 (as exposed

[2020-09-21 10:32] WolfspiritM commented on #175
@swcleo I still think that the chart waiting for the relay to finish before starting the migrations is a bug and should be fixed. That's why I think this issue should stay open.

[2020-09-21 15:34] jsenzier-oxeva commented on #176
We found a solution in the NGINX ingress controller documentation :

https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/

As explained in the documentation :

_The ingress controller supports case insensitive regular expressions in the spec.rules.http.paths.path field. This can be enabled by setting the nginx.ingress.kubernetes.io/use-regex annotation to true (the default

[2020-09-21 16:49] odoucet commented on #177
The good value to use in template file should be `.Values.service.externalPort`.
cf https://github.com/sentry-kubernetes/charts/blob/a0e79cf8c834c79c1018c02452274a6f43d5ef73/sentry/templates/service-sentry.yaml#L21

[2020-09-21 18:03] Ilya-Kuchaev commented on #153
Does anybody have the answer?

[2020-09-21 19:48] Ilya-Kuchaev commented on #153
Sooooo... Just add `nginx.ingress.kubernetes.io/use-regex: true` annotation to ingress configuration and all done.

[2020-09-22 01:18] swcleo commented on #175
Just like you said, it’s a “Chicken-Egg” problem. I just temporarily avoid the problem of dependency through some methods.

[2020-09-22 01:55] swcleo commented on #63
I'm not familiar with the architecture of sentry service yet, what kind of PV is necessary?
- postgresql
- clickhouse
- filestore
- kafka
- rabbitmq
- redis

[2020-09-22 06:02] Mokto commented on #175
Could you please try the code from this PR ?

https://github.com/sentry-kubernetes/charts/pull/179

I put relay as a helm hook to fix the situation. It worked on a new install for me.

[2020-09-22 06:11] #84 closed, assigned to nobody

[2020-09-22 06:11] Mokto commented on #84
Closing as 5.2.0 solves this issue.

[2020-09-22 06:19] Mokto commented on #176
Thanks for your help (I'm not using Nginx ingress).

Would this https://github.com/sentry-kubernetes/charts/pull/180 be enough to solve your issue ?

[2020-09-22 06:21] Mokto commented on #177
Please see https://github.com/sentry-kubernetes/charts/pull/181

Thanks!

[2020-09-23 13:48] odoucet commented on #177
This MR seems the good one :)

[2020-09-24 05:00] Mokto commented on #166
Thanks for this ;)

Maybe you could add this to the README ?

[2020-09-24 05:02] Mokto commented on #177
Fixed through 5.2.1

[2020-09-24 05:02] #177 closed, assigned to nobody

[2020-09-24 05:02] Mokto commented on #176
Fixed through 5.2.1

[2020-09-24 05:02] #176 closed, assigned to nobody

[2020-09-24 05:02] Mokto commented on #175
Fixed through 5.2.1

[2020-09-24 05:02] #175 closed, assigned to nobody

[2020-09-24 05:03] Mokto commented on #153
Yes, I'll close that.

Added some notes with 5.2.1.

Please always use either NGINX or an Ingress (or any equivalent).

[2020-09-24 05:03] #153 closed, assigned to nobody

[2020-09-24 05:04] Mokto commented on #152
I'll close that. Please reopen if needed.

[2020-09-24 05:04] #152 closed, assigned to nobody

[2020-09-24 05:19] Mokto commented on #174
People seem to have issues with Redis specifically ?
I'm trying 20.9.0 with RabbitMQ right now, let's see ;)

[2020-09-29 06:16] ItsReddi commented on #161
We had to reinstall after upgrading to latest version. Since the relay was not accessbile and timeouts arrised.
After reinstalling the new version without setting postgres in beforehand password. Install still fails with the same issue.

[2020-09-29 11:02] Mokto commented on #145
Fixed through 5.3.0

[2020-09-29 11:02] #145 closed, assigned to nobody

[2020-09-29 11:28] Mokto commented on #174
Currently the 20.9.0 has 2 issues :
- Releases is displaying : "You do not have access to this feature"
- Alerts is crashing :

[code]

[2020-09-30 01:31] nsyujian commented on #174
We have upgraded to 20.9.0,  need update relay config
[code]

[2020-09-30 07:46] Mokto commented on #174
Are you sure ?

I have been using https://github.com/sentry-kubernetes/charts/pull/182 for 1 day without any issues now 👍

I had to change the feature set though.

[2020-09-30 18:21] renich commented on #154
@fabriciols did you open another issue? I'm getting the same thing after a recent update.

[code]

[2020-10-01 06:30] Mokto commented on #174
I suddenly stopped receiving events, I'm unsure why.

[2020-10-03 00:20] sagor999 commented on #77
Is S3 fully supported?
[code]
Also in code I see it only checks if backend is filesystem or gsc, but no checks and code for s3.
I assume it is not implemented? I wonder if anyone has it already working and maybe there is a pull request for that already?

[2020-10-03 01:33] sagor999 commented on #77
nvm. Seems like that comment is out of date, and `gsc` is checked in code everywhere due to the way gsc auth is done.
I switched it over to s3 and it seems to be working fine now.
Closing this issue.

[2020-10-03 01:33] #77 closed, assigned to nobody

[2020-10-04 20:14] sagor999 opened #187 "[5.3.0] sentry hooks keep firing indefinetely"
Hi @Mokto ,

I noticed starting with 5.1.0ish version, that sentry helm hooks would keep on firing, things like snuba-db-init, snuba-db-migrate, snuba-user-create, etc, they complete successfully, and then several minutes later would fire up again, and again.
I have to set `hooks.enabled` to false.
I was wondering if you by any chance know why that might be happening? or how to debug why it keeps

[2020-10-05 10:24] eloo opened #188 "Disable Kafka"
Hello,

i'm just migrating from the helm/charts repo to this chart and i'm not sure how to disable kafka (or is kafka necessary?)

When i try to disable kafka using the values like this
[code]

I'm getting an error from the helper because no valid kafka host is set. But i don't use kafka anyway :D

I guess the problem is in the helper template
[code]
so when i disable kafka i need to configure kaf

[2020-10-05 17:53] J0sh0nat0r commented on #188
It's necessary as Sentry's new event processing architecture depends on it

[2020-10-05 17:53] #188 closed, assigned to nobody

[2020-10-06 07:41] al-muammar opened #190 "[5.3.0] Sentry not receiving or showing any events"
## Summary
After sentry setup everything is working fine, except the integration (I'm using Django integration), I'm not receiving any crashes or performance analytics.

## Details
1. Chart info
[code]
2. Values (`???` means some value):
[code]
3. Installation command: `helm -n monitoring install sentry sentry/sentry -f sentry-values.yaml`
4. Everything lives in `monitoring` namespace:
[code]

[2020-10-06 07:47] al-muammar commented on #190
@Mokto, do you have an idea what's wrong here? I guess `Pending`, persistent volume claim for `sentry-data` is something need to be fixed. How to debug, whether I'm receiving the events in the first place?

[2020-10-07 00:44] sakharovaan opened #191 "Support clickhouse password"
Can be implemented on snuba level via this hack in values:

[code]

but in this configuration, migration hooks are failing as passwords cannot be translated to clickhouse-client

[2020-10-07 05:52] peppe77 opened #192 "[sentty] undefined_tables (tag:5.3)"
k8s 1.18
external redis and postgres

deployed successfully and waited until it was stable. tried to access it and got error below. help is appreciated. thanks

[sentry-web-66578b7f66-jz8kz] 100.124.64.13 - - [07/Oct/2020:05:47:45 +0000] "GET /auth/login/ HTTP/1.0" 500 0 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0 Safari/605.1.15"
[sen

[2020-10-07 05:58] peppe77 commented on #192
NAME                                                              READY   STATUS      RESTARTS   AGE
sentry-clickhouse-0                                               1/1     Running     0          18m
sentry-clickhouse-1                                               1/1     Running     0          104s
sentry-clickhouse-2                                               1/1     Running     0

[2020-10-07 06:05] Mokto commented on #192
Could you share the logs of db-init ?
& your values.yaml file

[2020-10-07 06:08] Mokto commented on #190
To fix your persistent volume issue, just add
[code]

To your values.yaml file.

About not receiving, please share the logs of sentry-web.

Are you sure you're sending events to Relay ?

[2020-10-07 06:08] Mokto commented on #187
Not sure, to be honest. How do you deploy the helm chart ?

- manual cli
- argocd
- other ?

[2020-10-07 06:09] Mokto commented on #172
Can you share your values.yaml file ?

[2020-10-07 06:11] Mokto commented on #170
Are you sure ?
I do have logs:

<img width="922" alt="Screenshot 2020-10-07 at 08 10 39" src="https://user-images.githubusercontent.com/5103928/95293904-9f7e1180-0874-11eb-9385-72f3e12c875b.png">

[2020-10-07 06:18] peppe77 commented on #192
Hi @Mokto , thanks. Here you go (note that i just tried chart/4.2 and had same problem as 5.3). db_init logs is from most recent attempt @ 4.2. Pls let me know what do you suggest. thanks [/Pedro]
[db-init.log](https://github.com/sentry-kubernetes/charts/files/5338563/db-init.log)

[2020-10-07 06:19] peppe77 commented on #192
had to override resources for kafka as default requested is no good (quick OOM).

[2020-10-07 07:54] Mokto commented on #192
You're supposed to have a sentry-db-init job running somewhere, that's the one I need ;)

Not the snuba one.

It's weird we don't see it in your kubectl get pods command.

[2020-10-07 10:43] kudodenko opened #194 "Please add support regex for ingress by default"
When ingress is enabled it return 403 error.
I trying to fix this issue by added nginx.ingress.kubernetes.io/use-regex: "true" annotation and it works.
Please add this annotation as default when ingress is enabled.

[2020-10-07 10:46] Mokto commented on #194
Ingress usage is not limited to the nginx ingress controller. That's why it's not activated per default.

But it's a comment, and documented in the README.

[2020-10-07 10:46] #194 closed, assigned to nobody

[2020-10-07 11:34] peppe77 commented on #192
@Mokto this is the reason...will see how to overwrite (resources request/limit) used by this (sentry-db-init) job?

  Limits:
      memory:  2Gi
    Requests:
      cpu:        300m
      memory:     2Gi
    Environment:  <none>
    Mounts:
      /etc/sentry from config (ro)
  Volumes:
   config:
    Type:      ConfigMap (a volume populated by a ConfigMap)
    Name:      sentry-sentry
    Optional

[2020-10-07 11:55] Mokto commented on #192
You must have a namespace default limit value I suppose.

I'll close the issue.

[2020-10-07 11:55] #192 closed, assigned to nobody

[2020-10-07 12:53] al-muammar commented on #190
Thanks for the reply, @Mokto! Just wondering, why do one need persistence? Why s3 is not enough?
I checked Relay logs and I see lots of:
[code]

I checked Kafka logs and it is also complaining:
[code]

Probably, I can't just have one instance, because it won't meet replication requirements. I'll fix that and see how it goes.

One last thing, @Mokto, is there a design doc behind **Sentry**? Essenti

[2020-10-07 13:08] Mokto commented on #190
s3 is enough!

But you still need to set

[code]

to remove the PVC.

https://develop.sentry.dev/architecture/ here you go!

[2020-10-07 13:33] al-muammar commented on #190
Everything works, thanks

[2020-10-07 13:33] #190 closed, assigned to nobody

[2020-10-07 13:56] peppe77 commented on #192
@Mokto ns has base limits though cpu is 250 and request for that job is 300m. Current approach takes ns limit for granted as to be bigger or same as the job. I should be able to overwrite job and set cpu limit in it to 500m. On the other hand, other jobs started ( which means they were requesting 250m or less or setting cpu limit within ). Wouldn't be better to document this as well as set limits

[2020-10-07 15:23] peppe77 commented on #192
@Mokto let alone, it would be more consistent to set cpu/limit for sentry-db-init as other jobs already have...

Name:           sentry-snuba-db-init
Namespace:      sentry-ng
Selector:       controller-uid=c2b419ad-47d2-47f3-a54b-244a6006d0d2
Labels:         app=sentry
                chart=sentry-4.2.0
                heritage=Helm
                release=sentry
Annotations:    helm.sh/hook: pos

[2020-10-07 15:47] peppe77 opened #195 "[sentry/5.3] - fails to use external [AWS] postgres"
As you can see below, after fixing the resource allocation as to allow the job to be created/executed, it fails right away. Below is the log. pls advise. note this is new installation and not upgrade/migration! External postgres (aws).

thanks /Pedro

15:36:48 [WARNING] sentry.utils.geo: settings.GEOIP_PATH_MMDB not configured.
/usr/local/lib/python2.7/site-packages/cryptography/__init__.py:39: Cr

[2020-10-08 00:43] nsyujian commented on #174
We running normally all

[2020-10-08 08:34] mariusmitrofanbostontr opened #196 "Sentry[5.3.0] - Unable to actually capture events"
Hi,

I'm not sure if this is just me or if happening to everyone else, but my sentry installation is *NOT* able to capture any events.

I've noticed however that the following deployments, during `helm install` (with helm v3), cannot be installed during the actual install process, because they start *Before* the Kafka topic is up (through a job migration), hence are failing:

* sentry-relay
* sent

[2020-10-08 08:39] Mokto commented on #196
Can you share your values.yaml file with us ?

sentry-relay should be installed as a hook for the chicken&egg problem you were talking about.

[2020-10-08 08:43] mariusmitrofanbostontr commented on #196
Sorry, here's the file ->

[code]

[2020-10-08 08:44] mariusmitrofanbostontr commented on #196
@Mokto Oh f**k. Is it because I don't have `relay.asHook`: true ?

[2020-10-08 08:52] Mokto commented on #196
No, the default value is true already.

The first helm install you made was with version 5.3.0 ?

[2020-10-08 09:17] mariusmitrofanbostontr commented on #196
Yup. Helm install version 5.3.0. Clean install. No upgrade, no old database, no migrations, no nothing.

Just stupid simple helm install.

[2020-10-08 09:21] Mokto commented on #196
Can you restart from scratch and check if relay is deployed as a hook or classic deployment ?

Your values.yaml file seems fine.

[2020-10-08 09:25] mariusmitrofanbostontr commented on #196
Doing it now. Dropped all databases, all PVCs, and the namespace.

Doing fresh install again,

[2020-10-08 09:29] Mokto commented on #174
Thanks, I'm testing it again right now with the removed relay setting

[2020-10-08 09:42] mariusmitrofanbostontr commented on #196
So uhm, yeah, this is the status with it failing while doing helm install for those deployments:

[code]

with logs like this:

[code]
However, now because I specifically added `relay.asHook`: true, that specific one (sentry-relay) does not fail anymore, only the other 3.

So I did the following again while installing:

[code]

Then waited for all the migrations to finish and helm to complete inst

[2020-10-08 09:43] mariusmitrofanbostontr commented on #196
Cluster/Helm details ->

[code]

[2020-10-08 09:45] mariusmitrofanbostontr commented on #196
There's also this entry in the web container log which matches the one in sentry-relay...

[code]

[2020-10-08 09:50] Mokto commented on #196
Could you try to run it with the changes in this PR ?

https://github.com/sentry-kubernetes/charts/pull/182

The change in the relay config might help you.

[2020-10-08 10:16] mariusmitrofanbostontr commented on #196
@Mokto can you please merge it fast? I'm using terraform and can't find a way to install from branch... Or is it not stable yet ?

[2020-10-08 10:32] mariusmitrofanbostontr commented on #196
Uhm. Nevermind. Managed to install it after all. However, same exact deployment process and same exact error...

[2020-10-08 10:51] Mokto commented on #196
Out of curiosity could you try without terraform ?

In my case, I had to move everything from terraform to pulumi because the helm functionality had quite a lot of issues.

Just a classic helm install.

[2020-10-08 10:52] Mokto commented on #196
About the PR, it is still being tested right now.

[2020-10-08 10:53] mariusmitrofanbostontr commented on #196
Yeah, I did it with

[code]

And still had the same exact deployment experience and still sentry-relay not picking up events.

I have a hunch it's somehow related to the CSRF cookie/token, but not 100% sure...

PS: Is this really happening just to me ... ? :(

[2020-10-08 10:59] Mokto commented on #196
As long as you redirect your events from the store to relay, it should work. And you're using the ingress that works with the nginx ingress controller.

But I've never heard of someone making it work with Traefik (never heard of any issue either), so maybe something else must be changed in the ingress.

[2020-10-08 11:04] mariusmitrofanbostontr commented on #196
Uhm....well traefik ingress sends data to nginx service that proxies it to the relay :| I'll... try with an nginx ingress controller while disabling the nginx container and proxying it directly to relay I guess...

[2020-10-08 11:40] Mokto commented on #196
Ah yeah, true.

In that case I'm not sure. If you using nginx as the entrypoint of traefik, I'm not entirely sure.

[2020-10-08 11:51] mariusmitrofanbostontr commented on #196
Uhm...Fun fact...

[code]

Noticed this in the sentry.conf.py.

Shouldn't `SENTRY_RELAY_WHITELIST_PK` actually have a value ?

According to these guys at least, I think it should -> https://github.com/getsentry/onpremise/issues/486

Not 100% sure though...

[2020-10-08 12:16] Mokto commented on #196
I works without any config for me but I suppose you could add a new relay key here : https://xxxxxx.sentry.xxx/settings/ocean/relays/

[2020-10-08 12:22] mariusmitrofanbostontr commented on #196
it's killing me softly... I've started the relay in debug mode and I still don't see anything useful:

[code]

Checking what other sentry relay modes are possible.

Any idea if when using sentry relay mode as "static" I should change somehow the nginx server config blocks?

[2020-10-08 12:36] mariusmitrofanbostontr commented on #196
Ok, good news :+1:

sentry-relay works in `proxy` mode when using Traefik.

Do you mind if I create a PR to allow the modification of a few values to allow Traefik as well while keeping the "old" ones as default?

@Mokto

[2020-10-08 12:59] mariusmitrofanbostontr commented on #196
https://github.com/sentry-kubernetes/charts/pull/197

Can you please check and approve ? :)

[2020-10-08 13:17] Mokto commented on #196
Happy it worked!

Approved & merged.

[2020-10-08 13:17] #196 closed, assigned to nobody

[2020-10-08 13:36] sagor999 commented on #187
@Mokto I am deploying it using [helm operator](https://github.com/fluxcd/helm-operator) which in turn uses Helm v3 to make deployment. There are no errors or warnings during deploy.

[2020-10-09 10:59] davelosert opened #199 "[clickhouse] Document that timezone shouldn't be changed (or avoid being able to change it)"
I was just finally able to fix a bug I was chasing for weeks with this helm chart here.

The Problem: I could not get event details to show up in sentry. Events were written correctly, but viewing them always resulted in `404`s. I just found the hint for the fix [in this official issue](https://github.com/getsentry/sentry/issues/16436):

My Error: I actually set the clickhouse-timezone to `Europe/

[2020-10-09 11:40] Mokto commented on #199
Yeah, indeed.
See https://github.com/sentry-kubernetes/charts/pull/82

But the note should be in the sentry readme, not the clickhouse chart. The clickhouse chart could be used for something else.

PR welcomed ;) Thanks!

[2020-10-09 11:50] Mokto commented on #195
Where is your postgres located ?

Can you share your values.yaml file?

[2020-10-09 17:12] J0sh0nat0r commented on #196
@mariusmitrofanbostontr I'm not sure this error is related to Traefik, Sentry whitelists internal IPs for Relay [here](https://github.com/getsentry/sentry/blob/72645fa941673a660ae951ed14fd3824a4c88fb8/src/sentry/api/authentication.py#L25) so it seems like this could be a CNI issue? Proxy mode shouldn't require fetching project settings which would explain why it works when configured that way.

[2020-10-09 17:19] mariusmitrofanbostontr commented on #196
After switching to proxy mode it "magically" worked.

[2020-10-09 18:29] J0sh0nat0r commented on #196
@mariusmitrofanbostontr Yeah that would make sense, as I understand it when in proxy mode relay doesn't require any additional authentication (besides what is provided in the original request) whereas in managed mode it will make API calls to Sentry (which should be authenticated based on the fact the request is coming from within the cluster's local network)

[2020-10-09 18:37] mariusmitrofanbostontr commented on #196
Ok.

So why are we talking about a PR that was merged and closed in which the sole change was allowing the setup of a parameter?

I don't get it.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Josh <notifications@github.com>
Sent: Friday, October 9, 2020 9:29:44 PM
To: sentry-kubernetes/charts <charts@noreply.github.com>
Cc: Marius Mitrofan <marius.mitrofan

[2020-10-10 17:36] dnlsndr opened #200 "Helm yaml templating issue for Ingress object"
When installing the Sentry chart from scratch, the Ingress object is not created although ingress.enabled is set to `true`.
This originates from a false ingress templating, where moustache sections contain arbitrary minus (`-`) characters.
## Current status
[code]

[2020-10-10 17:55] #200 closed, assigned to nobody

[2020-10-10 18:23] Mokto commented on #174
Done with 5.6.0.

[2020-10-10 18:23] #174 closed, assigned to nobody

[2020-10-11 08:11] dnlsndr opened #201 "[5.6.0] Setting cert for new Sentry DSN endpoint"
Sentry has changed their DSN endpoint to be under a new subdomain for each organization:
Now:
`https://<sentry-dsn>@o<number>.ingest.<domain>.<tld>`
Then:
`https://<sentry-dsn>@sentry.<domain>.tld`

This leads to a invalid cert on our side, since we only define a cert-manager generated cert at the ingress for TLS termination.
Our cert is only valid for `*.<domain>.<tld>` and not for `*.ingest.<dom

[2020-10-11 09:33] Mokto commented on #201
Thanks for the information, it's very interesting! Didn't notice that change.

I guess it depends on which ingress provider you use. In my case I use istio + cert-manager and I work with sub-subdomains with a certificate defined like this :

[code]

and my gateway:

[code]

[2020-10-11 16:19] dnlsndr commented on #201
Interesting!
I've implemented Istio now too, since I always wanted to give it a shot. I think it is much better solvable through the gateway/virtualService CRDs. Would you care to show me how your virtualService looks? Im still quite new to those concepts.

[2020-10-11 16:22] Mokto commented on #201
[code]

As simple as that! I have to remove nginx at some point & point directly to sentry&relay.

[2020-10-11 17:57] dnlsndr opened #202 "[5.6.0] Sentry relay crashing with default values.yaml"
When trying to install the sentry chart, the relay pod always crashes. The default values have not been touched except for these fields:

[code]

I can confirm that these values have worked before with the 5.2.0 version of the chart.
When trying to get some log output from the relay pod, the k8s server only responds with a BadRequest - even with the
`--previous` flag

When looking at the pod throu

[2020-10-11 20:11] #202 closed, assigned to nobody

[2020-10-12 00:46] jadbaz opened #205 "Ingress 404 on GKE 1.17.12-gke.500"
I ran: `helm install mysentry sentry/sentry --set ingress.enabled=true`
Everything finished successfully and I get the following ingress (different IP of course):
`my-sentry-1   *       1.2.3.4   80      7m35s`

curl this IP returns 404.

I haven't changed any defaults except for enabling ingress. Not quite sure what I did wrong

[2020-10-12 06:18] Mokto commented on #201
I'll close the issue.

[2020-10-12 06:18] #201 closed, assigned to nobody

[2020-10-12 06:27] Mokto commented on #199
Fixed in 6.0.0

[2020-10-12 06:27] #199 closed, assigned to nobody

[2020-10-12 07:37] dnlsndr commented on #205
When enabling the ingress, you will also need to pass in some more information which defines the Hostname, TLS, etc.
Have a look at the `/sentry/values.yaml` of this repo, to see what it needs.

[2020-10-12 12:00] dnlsndr opened #206 "[6.0.0] Sentry db-init job failing with "failed password authentication""
Running a `helm upgrade ...` command on a already installed Sentry Helm chart is impossible, since the db-init job failes with the following error:

_Note: I'm using the default postgres settings, no modifications whatsoever_

[code]
This error has already been persisting since earlier versions, e.g. 5.6.0.
Somehow the db-init job can't fetch the db password from the `sentry-sentry-postgresql` sec

[2020-10-12 12:19] Mokto commented on #206
Please read https://github.com/sentry-kubernetes/charts#postgressql

You have to setup a password.

Thanks.

[2020-10-12 12:19] #206 closed, assigned to nobody

[2020-10-12 12:26] dnlsndr commented on #206
Thanks, oversaw that part!
There should really be a default value for the password, since this is not apparent if one didn't notice the README.

[2020-10-14 05:46] peppe77 commented on #195
@Mokto : it is at AWS.
[sentry20_8_values.txt](https://github.com/sentry-kubernetes/charts/files/5375863/sentry20_8_values.txt)
Let me know, please. Attached values reflects the current postgress/containers (k8s) as we do not yet have a resolution to this problem, we switched the flag until we have a way forward here. thanks

BTW: clickhouse is having quite few restarts due to OOM. I did not see r

[2020-10-14 06:01] peppe77 opened #207 "[sentry/5.3] - postgress password authentication failed (on update)"
using the postgres/containers provided (as there is pending issue on using AWS/postgres - already reported and on going investigation). did an update to increase resources allocated to different pods (OOM) and for my surprise the INIT jobs (4 of them) were called. sentry-db-init failed 5 times due to the below. pls advise (values attached)

[sentry20_8_values.txt](https://github.com/sentry-kuberne

[2020-10-14 06:23] peppe77 commented on #207
as we have been switching between aws/postgres and k8s/container one provided, forgot to set fixed password for the k8s/container case, therefore on update a new secret/password was generated.

postgresql:
    postgresqlPassword: **********

[2020-10-14 06:23] #207 closed, assigned to nobody

[2020-10-14 07:29] Leen15 opened #208 "DSN endpoint changed and no option to go back to previous one"
We just upgraded the chart to 6.0.0, and all ours DSN endpoints changed from:
`https://<sentry-dsn>@<subdomain>.<domain>.tld`
To:
`https://<sentry-dsn>@o<number>.ingest.<subdomain>.<domain>.<tld>`
We have a wildcard SSL that doesn't support oX.ingest.
We checked that this new option is available only if `organizations:org-subdomains` is set to True.
Unfortunately, there is no way on the chart to s

[2020-10-14 07:45] mthoretton commented on #208
I'm also facing this problem.
Even if we wanted to use the `o<number>.ingest.<subdomain>.<domain>.<tld>` format, how would that work?
Would we have to manually update the sentry ingress to add a new domain any time there is a new organisation? (we use external-dns/ingress-nginx/cert-mananager)
I would also prefer to keep the good old endpoint.
Thanks 😃

[2020-10-14 08:37] Mokto commented on #208
I guess we can remove that value entirely ? But it probably means a new major release.

What do you think ?

[2020-10-14 08:52] Leen15 commented on #208
@Mokto I agree, it should be removed with the ability to set in values file.

[2020-10-14 11:56] mthoretton commented on #208
I created https://github.com/sentry-kubernetes/charts/pull/209 which should solve this specific problem wihout introducing any breaking change. At least that would do the job for me 😄

[2020-10-14 12:42] mthoretton commented on #208
Thanks a lot for your reactivity. I was able to deploy the new chart version and I can confirm that it has fixed the issue (by setting sentry.features.orgSubdomains to `false`. 🎉

[2020-10-15 00:05] DandyDeveloper opened #210 "Postgres / Other external components helpers wrong?"
Am I missing something @Mokto?

We mention in the README moving to `externalPostgres...` and the helper mentions this:
https://github.com/sentry-kubernetes/charts/blob/6.0.0/sentry/templates/_helper.tpl#L151

However, the helper two lines up references the older implementation?
https://github.com/sentry-kubernetes/charts/blob/6.0.0/sentry/templates/_helper.tpl#L149

Is this fundamentally wrong?

L

[2020-10-15 03:13] peppe77 commented on #117
how can i increse resource allocation for sub-chart? clickhouse is having quite a few restarts due to OOM. I have tried to use clickhouse.resources {} though did not work as expected...perhaps because it is subchart? If someone can provide way/example on how to increase resource allocation for clickhouse, that would be greatly appreciated. thanks

[2020-10-15 03:17] DandyDeveloper commented on #117
@peppe77 Lucky you, I was in the neighborhood!

https://github.com/sentry-kubernetes/charts/blob/develop/clickhouse/values.yaml#L113

You should be able to pass `sentry.clickhouse.resources` OR `clickhouse.resources` depending on how you are using Sentry (as a dependency or just installing directly).

https://github.com/sentry-kubernetes/charts/blob/develop/clickhouse/templates/statefulset-clickho

[2020-10-15 03:19] DandyDeveloper commented on #117
@peppe77 One thing worth noting, we don't actually give any resource limits. So if you've got OOMing pods, I'd probably check the node resources itself... Or are you wanting to let k8s decide to schedule correctly?

[2020-10-15 03:31] peppe77 commented on #117
@DandyDeveloper thank you so much! appreciated. It did not work and will have to do some troubleshooting :( It looks like that request/limit are set (see below). Moreover, Ive seen limit at other places as well. Nevertheless, we set base/limit per namespace, therefore if no limit is set then that kicks in.

    Image:          yandex/clickhouse-server:19.17
    Image ID:       docker-pullable://ya

[2020-10-15 03:38] peppe77 commented on #117
everything else under sentry (postProcessfwd, cron, ingestConsumer, worker and so on), works fairly well to pass the resources (as we also had to tune them up) though it does not for clickhouse. This is why decided to reach out and ask for help

[2020-10-15 03:39] DandyDeveloper commented on #117
@peppe77 I'll do some testing in a bit.

[2020-10-15 03:45] peppe77 commented on #117
thanks. I did $hekm get manifest sentry and noticed, for example, that STS/clickhouse has neither requests/limits defined in it. [# Source: sentry/charts/clickhouse/templates/statefulset-clickhouse.yaml], therefore what gets allocated comes from the base/limitrange that is defined in the namespace (which clearly is not enough). Id expect STS to have resources defined though it does not look like t

[2020-10-15 16:13] peppe77 commented on #117
let me add to the list here - zookeeper. we have also tried to allocate more resources to it (OOM) though like clickhouse - it did not really work. please advise. thanks /Pedro

[2020-10-16 08:56] Leen15 opened #212 "Error 403 Forbidden in relay_server"
Hello,
we installed sentry with helm chart, but we have an issue with the relay service.
When a client sends an event, the nginx service returns a 200 status code, but the event is not saved and in relay service this is the log:

[code]

We tried to debug the reason, and we found a table `sentry_relay` in the postgreSQL database with a list or relays (id, public key etc).
Here, there is a column `

[2020-10-16 12:40] jadbaz commented on #205
I didn't have an ingress controller
- helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
- helm install ingress-nginx ingress-nginx/ingress-nginx

And now visit the external IP _by hostname_

[2020-10-16 12:40] #205 closed, assigned to nobody

[2020-10-20 12:43] arizz96 commented on #212
I'm experiencing the same issue

[2020-10-20 22:23] sklusz opened #214 "Support .spec.strategy block in sentry-web to update correctly with persistent volumes."
When sentry-web is updated with `helm upgrade --install`, the sentry-web deployment spins up another pod, as it's set to a rolling deployment strategy by default.

Two web pods are created -
[code]

The sentry-web deployment strategy:
[code]

This leads to a timeout if using a persistent volume in the deployment, as the volume can't be mounted to the new pod while it is mounted to the old one. Thi

[2020-10-21 08:58] james64 commented on #77
Hey! Filestore is valid storage option and not everyone can re-solve this issue by migrating to different one. I am actually one of them now. For this reason I would like to see `deployment-sentry-web` to support chaning strategy. Let's have `RollingUpdate` as default but that way at least user can change it. Now that is not an option (maintaining a fork is not ideal here). What do you think?

[2020-10-21 15:47] slv commented on #212
Same here

[2020-10-22 16:52] james64 opened #215 "Maybe remove `hook-succeeded` from `hook-delete-policy` annotation"
What would you say to switching

`"helm.sh/hook-delete-policy": "hook-succeeded,before-hook-creation"`
to
`"helm.sh/hook-delete-policy": "before-hook-creation"`?

Status quo advantages
- list of jobs and pods is not cluttered with pods not needed any more

Status quo disadvantages
- logs from these mostly migration pods are hard to get (unless all logs are collected to elastic or something which i

[2020-10-25 16:48] sagor999 commented on #77
@Mokto I added PR that addresses this:
https://github.com/sentry-kubernetes/charts/pull/216

[2020-10-26 11:07] james64 opened #217 "Correct labels/annotations for "asHook" deployments"
Hello,

initial installation (`asHook: true`) is going through ok. Upgrades however (`asHook: false`) are not coming through because of Helm error (helm v3.3.4):
[code]

Only way to proceed is to manually add label and annotation in cluster. This is happening for all resources affected by `asHook` parameter:
- sentry-relay
- sentry-snub-outcomes-consumer
- sentry-snuba-replacer
- sentry-sessions-c

[2020-10-26 13:12] Mokto commented on #212
Could you guys try the proxy mode of relay, please ?

[2020-10-26 13:16] Leen15 commented on #212
@Mokto How can I do it?
I didn't find any information in values file about it.

[2020-10-26 13:30] Mokto commented on #212
https://github.com/sentry-kubernetes/charts/blob/develop/sentry/values.yaml#L38

mode: proxy

[2020-10-26 14:08] Leen15 commented on #212
@Mokto it works!

[2020-10-26 16:14] james64 opened #218 "Insufficient ingress configuration"
Hey,

let's say I want to operate sentry on public domain `sentry.example.com`. Setting `.Values.ingress.hostname` to `sentry.example.com` is not enough since this matches host exactly. In other words UI on `sentry.example.com` would be accessible but project DSN url (usually on something like `o1.ingest.sentry.example.com`) is not since this is not exact match. My setup starting to work when I ma

[2020-10-26 16:57] Mokto commented on #218
Hey. You can use that value to disable the DSN subdomains :
https://github.com/sentry-kubernetes/charts/blob/develop/sentry/values.yaml#L74

[2020-10-26 18:22] james64 commented on #218
Thanks Mokto, that is new to me and looks interesting. Is there any downside in turning this off? I mean it must provide some benefit if someone bother implementing it. Quick googling yield no documentation. Or relevant link is enough.

[2020-10-26 22:36] Mokto commented on #218
Not really, it's been set up like that by Sentry so that they can prioritise between enterprise & classic customers (on event processing), I believe.

[2020-10-26 22:39] Mokto commented on #215
Hey,

Why not! I didn't think of that, but it could be a nice thing to do, indeed. Never tried it though.

[2020-10-26 22:42] Mokto commented on #214
Fixed in 6.2.1.
You can now change strategy type.

[2020-10-26 22:42] #214 closed, assigned to nobody

[2020-10-26 22:43] Mokto commented on #54
Done in 6.2.0.

[2020-10-26 22:43] #54 closed, assigned to nobody

[2020-10-26 22:43] Mokto commented on #108
I'll close this. Reopen if needed!

[2020-10-26 22:43] #108 closed, assigned to nobody

[2020-10-26 22:44] Mokto commented on #113
Hey I'll close this as "won't fix". It's much easier for local development.
If you have another solution, I'll be happy to use it !

[2020-10-26 22:44] #113 closed, assigned to nobody

[2020-10-26 22:45] #208 closed, assigned to nobody

[2020-10-26 22:45] Mokto commented on #118
This has been fixed a while ago, forgot to close the issue!

[2020-10-26 22:45] #118 closed, assigned to nobody

[2020-10-26 22:45] #170 closed, assigned to nobody

[2020-10-26 22:46] #172 closed, assigned to nobody

[2020-10-26 22:47] Mokto commented on #210
@DandyDeveloper , sorry for the late answer, I've been quite busy at work.

Both implementations are still valid:
- "internal" databases through the chart
- "external"

[2020-10-26 22:48] Mokto commented on #217
Yes, let's add them if necessary. Never got any issue though ;)

PR welcomed!

[2020-10-26 22:53] Mokto commented on #212
Fixed through 7.0.0.
Thanks for reporting!

[2020-10-26 22:53] #212 closed, assigned to nobody

[2020-10-27 08:39] nilpntr opened #221 "socket.gaierror: [Errno -3] Temporary failure in name resolution"
Got this error `socket.gaierror: [Errno -3] Temporary failure in name resolution` on the following machines:

- Worker
- Web
- Post-Proces-Forward
- Ingest Consumer

[2020-10-27 08:57] DandyDeveloper commented on #210
@Mokto We should probably clear that up in the README. It reads as though your only option is the external params.

[2020-10-27 08:57] DandyDeveloper commented on #221
Looks DNS related, what CNI / DNS are you using in k8s?

Please give the full context of the error message.,

[2020-10-27 09:07] #221 closed, assigned to nobody

[2020-10-27 09:09] james64 commented on #217
I am happy to provide PR for this. I am going to hold it for now. I asked about this on helm side. Let's see what they have to say here.

[2020-10-27 09:10] james64 commented on #215
OK great. Let me test this locally first

[2020-10-27 16:23] james64 commented on #217
Helm guys says what I see is expected. What is still interesting for me is that sometimes I do see the error and sometimes it is ok and I do not need to do any manual edits. I will observe this for a while so I can understand better what is going on.

[2020-10-29 15:16] james64 commented on #217
When one wants to do some configuration change and switch `asHook` from true to false at the same time that is when described helm issue occurs. Only way how to not have issues with this is to do upgrade with `asHook=false` immediately after initial deploy **without** any changes. On the second run helm adds these annotations automatically. So we do not need to add these labels manually. Maybe inc

[2020-10-29 15:16] #217 closed, assigned to nobody

[2020-10-30 15:55] BlackWebWolf opened #224 "Relay is not able to connect to sentry?"
I was poking around quite a lot to solve this problem, but with no particular success.
During deployment everything is up and running (deployment without rabbit), but after creating a project and sending simple message from python, this occurs:
[code]

Sentry is configured with relay (I've added a public key to relay config tab) - but with no success.
Any ideas?

Relevant configs:
relay configmap

[2020-10-30 20:56] peppe77 commented on #117
@DandyDeveloper did you have a chance to do some testing? Have tried different things though still can not change resource allocation for any of the sentry instances (web. worker and so on) nor for zookeeper :( I can however change allocations for snuba instances as well as kafka. any help is appreciated. thanks

[2020-11-02 09:53] james64 commented on #218
I need to re-open this. We are migrating already existing setup from sentry9-swarm to sentry10-k8s. It's used by multiple projects with DSN addresses already configured at many different places. They of course include subdomains. Disabling dsn subdomains would require migration of all these projects. Is it no-go to support wildcard ingress in this chart?

[2020-11-03 13:00] nilpntr opened #225 "DSN URL not working"
Do I have to add this url to ingress or nginx myself:
`https://${public_key}@o1.ingest.${system_url}/${project_id}`?
Or is it already configured somewhere in the chart(didn't find any config for it)

[2020-11-03 14:39] LennardWesterveld commented on #225
I think this is because of my issue as well it's related that there is a feature flag that shouldn't be enabled: https://forum.sentry.io/t/o1-ingest-appears-in-dsn-settings-after-upgrading-from-v9-to-20

[2020-11-03 14:40] nilpntr commented on #225
Yes that fixed it for me, already saw your issue but forgot to close this comment :)

[2020-11-03 14:40] #225 closed, assigned to nobody

[2020-11-03 15:03] LennardWesterveld opened #226 "Feature organizations:org-subdomains should be disabled for on prem instances."
Hi,

I was having weird issues with the DSN were "01.ingest" appeared.
@untitaker said on the forum that it's because the feature "organizations:org-subdomains" was enabled and seems that it is in the default config. Maybe it shouldn't be enabled in sentry. But it worked for me by disabling it.

See also the forum topic:
https://forum.sentry.io/t/o1-ingest-appears-in-dsn-settings-after-upgrading-f

[2020-11-03 16:21] Puneeth-n opened #227 "Unable to create sentry stack"
Issue: sentry-snuba-transactions-consumer, sentry-post-process-forward not coming up

Chart version: 7.1.0
Kubernetes version: 1.18
Helm version: 3

Sentry helm config
[code]

kubectl -n sentry get all
[code]

[code]

[code]

[code]

[2020-11-04 02:50] DandyDeveloper commented on #218
I'd also like to question this being on by default. As the ingress rules by default, will not support this and wildcards can be dumbersome during helm templating.

@Mokto What's the justification for this feature being enabled by default?

[2020-11-04 08:17] Mokto commented on #218
The only reason for it is not being a breaking change.

I'm up for changing it per default too, but we'll need a new major version.

PR welcomed!

[2020-11-04 13:59] Yomanz opened #228 "django.security.csrf error persists when using ingress"
I noticed there was a fix for nginx, but if `nginx.enabled` is `false` and `ingress.enabled` is `true` then this fix isn't applied.
Fix: https://github.com/sentry-kubernetes/charts/commit/a680856c0208f4df626e05163f754442f59fca10

Error:
[code]

I tried adding this to the ingress with no avail.
[code]

[2020-11-04 14:44] mariusmitrofanbostontr commented on #227
@Mokto looks like I'm not the only one :+1:

My PR (https://github.com/sentry-kubernetes/charts/pull/229) should fix this ...

[2020-11-04 15:10] Mokto commented on #227
Thanks @mariusmitrofanbostontr. Could you try 7.2.0 ? @Puneeth-n

[2020-11-04 17:14] mariusmitrofanbostontr commented on #227
@Puneeth-n I've tested myself and it went fine for me with the new 7.2.0 release

[2020-11-05 08:01] Puneeth-n commented on #227
Let me give it a spin :) Thanks for letting me know :)

[2020-11-05 08:52] Puneeth-n opened #230 "[Sentry] Ingress configuration not compatible with alb-loadbalancer-controller"
**Kubernetes version:** 1.18
**Helm:** 3
**Chart version:** 7.1.0

**Sentry Helm config:**

[code]

**alb-load-balancer-controller:**
[code]

**Error message:**
[code]

[2020-11-06 14:03] mariusmitrofanbostontr opened #231 "[QUESTION] How do you setup tabix?"
Hey @Mokto  :)

Any idea how do you set up Tabix?

I mean, after launching an ingress and opening it in a browser it asks for the following things:
* Connection -> which I think should be `http://sentry10-clickhouse:8123`
* Login
* Password

Where do I get this username/password thing?

My hunch is that I should have something like this defined in values.yaml:

[code]

Hence the username/password

[2020-11-06 14:04] mariusmitrofanbostontr commented on #231
Just thinking out loud actually...maybe I should "trigger" a deployment for the clickhouse and clickhouse-replica statefulsets since the configmap changed?

I checked inside the pods and do see this in it though:

[code]

[2020-11-06 14:24] mariusmitrofanbostontr commented on #231
Looks like clickhouse fails when doing rollout deployments. I've even deleted the helm altogether, and reinstalled it and tried again.

It cannot handle a stupid-simple pod restart.

Any idea why ?

There's no logs either when running ....

It just cannot get any pod back up to Running. Is it just me ?

All I did was this:

[code]

[2020-11-06 14:25] mariusmitrofanbostontr commented on #231
Update:

Looks like the container hangs with this process running:

[code]

[2020-11-06 14:25] JustDoItSascha commented on #226
Hey, I installed sentry a few days ago for the first time and I have the same problem. Sentry is not usable at the moment? Disabling organizations:org-subdomains did not help either.

Are there any workarounds?

[2020-11-06 14:27] untitaker commented on #226
@JustDoItSascha if disabling this featureflag does not solve it you either don't have the same issue or you did not restart your server after changing the config.

[2020-11-06 14:45] mariusmitrofanbostontr commented on #231
Aaaaand I'm a moron :+1: Increased initialDelaySeconds timeout and all good now.

[2020-11-06 14:45] #231 closed, assigned to nobody

[2020-11-06 14:45] JustDoItSascha commented on #226
I think the configmap got overwritten after restarting the server. But I upgraded to 7.2.0 chart und set the sentry.orgSubdomains to false. I was wondering why this domain is set to true on default in the first place?

And I was wondering why this setting is not documented?

[2020-11-06 15:18] JustDoItSascha opened #232 "[Sentry] Why is .Values.filestore.filesystem.persistence.persistentWorkers disabled by default?"
When this setting is disabled, uploaded sourcemaps are not persisted. So I'm asking myself: Why is the setting disabled by default, when the volume itself is enabled by default?

[2020-11-07 17:15] sagor999 commented on #187
Re-installing helm chart fixed this issue. So I guess something just got borked locally. I will close this issue now.

[2020-11-07 17:15] #187 closed, assigned to nobody

[2020-11-09 09:43] OvervCW commented on #232
Similarly, attachments are broken in a very confusing way with this default configuration. Files attached to events will show up with the right size in the UI, but when you try to open them there'll be an internal server error since they are only (temporarily) stored on the workers rather than sentry-web.

It's not immediately obvious that this can be solved by enabling persistent workers with a s

[2020-11-09 09:51] OvervCW opened #233 "Reliance on deprecated RabbitMQ and Postgres subcharts"
The chart currently relies on the `stable/rabbitmq-ha` and `stable/postgres` despite the `stable` repository *and* the charts themselves being deprecated. Interestingly, the redis & kafka *do* come from bitnami.

Is there any reason not to switch to the bitnami alternatives for RabbitMQ and PostgreSQL as well?

[2020-11-09 18:49] mariusmitrofanbostontr opened #234 "AWS MFK (managed kafka cluster) - bootstrap server connection"
Hey @Mokto

I switched to using an external Kafka cluster through AWS MFK.

However, the "helm-managed" kafka cluster uses one and only one endpoint for all kafka connections (the service name and port).

In any normal kafka scenarios (including non AWS-managed resources), the `bootstrap.servers` property is either a comma-separated value and/or an array of host:port stuff.

Example in current hel

[2020-11-09 22:37] mariusmitrofanbostontr opened #235 "Exernal managed kafka - ingest-consumer is not able to create topic"
I could use some pointers here guys.

The only thing I did different was having a different (external) kafka cluster empty, and because of it, the ingest-consumer cannot start because it cannot find the topic 'ingest-transactions'.

Is there some  sort of command that needs to run separately maybe to have the kafka initialize with some specific cluster?

Thanks...

Error is this:

[code]

[2020-11-10 11:43] Hassnain-Alvi opened #236 "Unable to list sentry projects - Table default.sentry_dist doesn't exist"
I have installed sentry via helm chart with default configuration. Somehow the migrations failed and i don't want to reinstall again as there are lots of dynamic PVCs created.
I am getting following error in web pod logs
[code]
I tried running sentry upgrade command but still it didn't worked
tried `snuba-api upgrade` command but that command is not found inside web and snuba-api pod

I am using l

[2020-11-10 12:33] mariusmitrofanbostontr commented on #235
For anyone else having this problem -> AWS Kafka launches new clusters with property "auto.create.topics.enable" = "false".

You need to launch the cluster with custom aws kafka configuration that sets that property to "true".

[2020-11-10 12:33] #235 closed, assigned to nobody

[2020-11-11 06:31] zerkms opened #237 "Readiness probe should not be equal to liveness probe"
At the moment default values are identical https://github.com/sentry-kubernetes/charts/blob/29cb2c911620cbb179b34a7d6fc76c7e882e8c69/sentry/values.yaml#L519-L532

Liveness must always have longer period and tresholds.

References:
* https://github.com/kubernetes/website/issues/16607

[2020-11-11 07:22] Mokto commented on #232
Hi,

1) It's coming from the old chart
2) As the default value of the PVC is RWO, you can't have 1 worker & 1 web mounting the volume together.

Using filesystem is generally not recommended for production setups

[2020-11-11 07:22] Mokto commented on #233
No specific reason apart from time needed to make the move.

PR welcomed ;)

[2020-11-11 07:26] Mokto commented on #234
Hey, thanks!

I suppose you could change the way `externalKafka` is defined, and support an array called "hosts" instead of "host"

We can do a major release if there are some breaking changes, no worries.

[2020-11-11 07:28] Mokto commented on #236
hi,

Can you share the logs of your helm hooks ? (sentry-db-init.job.yaml ?)

[2020-11-11 07:32] Mokto commented on #226
Yeah, we should "disable" that per default, I'll do it before the next major release!

[2020-11-11 12:06] Hassnain-Alvi commented on #236
Fixed by running upgrade command

[2020-11-11 12:06] #236 closed, assigned to nobody

[2020-11-11 12:21] Hassnain-Alvi opened #238 "Unable to upgrade / scale sentry web pod"
Hi,
i upgraded my existing sentry installation using **`helm upgrade`** command with default settings everything else worked fine but the sentry web pod is unable to launch a new pod in parallel as its failed to attach a volume that's already being used by old pod
Here are the logs i am getting from 'kubectl get events'
`<invalid>   Warning   FailedMount              pod/sentry-web-775f8697c7-4szm

[2020-11-11 13:48] Mokto commented on #238
Hi,
This question has already been answered multiple times but, you can :

- not use a PVC
- use a PVC with ReadyWriteMany

[2020-11-11 13:48] #238 closed, assigned to nobody

[2020-11-12 01:25] DandyDeveloper opened #239 "Kafka / Partition issues (OFFSET_OUT_OF_RANGE & NOT_COORDINATOR_FOR_GROUP)"
https://forum.sentry.io/t/snuba-consumers-kafka-issues-not-coordinator-for-group-causing-process-restart/11764

I am wanting to see if anyone else is experiencing what I'm describing here with the chart.

We have a fairly large surplus of events coming in and it seems like Kafka and Sentry become out of sync with one another so partitions end up being written to topics on the wrong coordinator?

A

[2020-11-12 01:34] DandyDeveloper commented on #237
To preface this, I agree with the sentiment of the liveness and readiness being different.

Liveness having longer periods however is not a factually valid statement. Depending on how the liveness interacts with the app, until a pod is "ready" no TCP connections can get into the pod - This is where your statement might be valid. But there are many use cases for liveness, ex. External dependencies

[2020-11-12 01:35] DandyDeveloper commented on #232
Persistent workers are also redundant in this case. As they have no real state to manage. They do not ack the messages they are consuming until the job is finished anyway.

[2020-11-12 01:41] DandyDeveloper commented on #230
This is because the relay regex exists:

https://github.com/sentry-kubernetes/charts/blob/develop/sentry/templates/ingress.yaml#L30

I don't remember the syntax for AWS LB Ingress, is it just expecting `path-patterns` rather than `path`?

You could submit a PR with a conditional added specifically for AWS LB being enabled. It's a tough one making this a 1 size fits all.

The alternative is to copy

[2020-11-12 01:42] zerkms commented on #237
I don't have a problem no, it just caught my eye.

I agree with your

though.

I'm not sure I agree with:

If an extrenal dependency is broken, then restarting a pod won't help, hence - no point to have liveness probe.

[2020-11-12 02:00] DandyDeveloper commented on #237
Depends on how the application is configured. I know it sounds dumb but people build their apps in very strange ways.

I am almost certain the k8s devs have not made this distinction in the documentation is because the liveness probe is intentionally very flexible and completely separate from readiness.

[2020-11-12 15:51] mekza commented on #195
I am having the same problem with an external postgresql. The only table created in my postgres instance is `django_migrations`. I am not using postgres on AWS but in private cloud.

[2020-11-13 07:32] Hassnain-Alvi commented on #238
How can we use existing PVC for sentry ?
I didn't see any option in https://github.com/sentry-kubernetes/charts/blob/develop/sentry/values.yaml

[2020-11-13 10:38] Mokto commented on #238
Once again, please look at existing issues.

https://github.com/sentry-kubernetes/charts/issues/63

[2020-11-13 14:27] Antiarchitect opened #243 "Question: raise replicas count"
Is it actually safe to raise replicas count for all sentry components which are deployments (except cron I suppose)?

[2020-11-13 15:39] Mokto commented on #243
Yes it is! As long as you don't use a PVC with RWO

[2020-11-13 15:44] Antiarchitect commented on #243
@Mokto For clarification. I'm interested in:
[code]

And I mean not only shared filesystem issue, but there are some services that meant to be run as a single instance for consistency reasons. E.g. Thanos Compactor (still deployment in their chart - but there is a warning in their docs)

[2020-11-13 15:53] james64 commented on #217
Even without any changes to user configuration this has the effect of removing helm hook annotations which is enough to cause helm crash from the beginning. We do not necessarily need to re-open this. Just if you guys have some way around this I would love to hear about it. And I guess you do since you "never got any issue" like this :)

[2020-11-13 17:36] Antiarchitect commented on #243
BTW. Cannot login into tabix ui. Should I perform some actions on this?

[2020-11-16 11:54] thewilli opened #244 "snuba-transactions-consumer CrashLoopBackOff"
While everything else seems fine with the current `7.3.0` Sentry chart, the `snuba-transactions-consumer` constantly crashes with the following message:

[code]

Do you have any idea what the problem might be and how I might solve it without loosing data?

[2020-11-16 14:54] Mokto commented on #243
Yep, I really believe you can scale those up

[2020-11-16 16:03] Antiarchitect commented on #243
Thank you!

[2020-11-16 16:03] #243 closed, assigned to nobody

[2020-11-17 03:08] DandyDeveloper commented on #239
@Mokto Have you experienced this? How many events do you have running through Sentry?

[2020-11-17 07:50] Mokto commented on #239
I've got between 50k & 100k events per day on Sentry without any issue.

Can you share what resources you've assigned to Kafka ?

[2020-11-17 08:05] DandyDeveloper commented on #239
@Mokto Per day? I get 2x that an hour. I'm guessing this is something with the load on the machine but I don't know what trigger Kafka to change coordinators.

One thing I have noticed is that this may be because of rebalancing... The topic/group is in a state of rebalancing during the period where this is a problem.

[2020-11-17 08:22] DandyDeveloper commented on #239
@Mokto Looks like both Kafka 2.5.0 & 2.6.0 introduced some big improvements to the consumer protocols. We should maybe consider upgrading.

[2020-11-18 07:49] hanstsangcwc opened #247 "CrashLoopBackOff"
cannot install sentry, anyone know how to fix it?

[code]

[code]

[code]

[code]

[code]

[2020-11-18 08:21] hanstsangcwc commented on #247
found the reason

![image](https://user-images.githubusercontent.com/50945933/99504097-ff122580-29b9-11eb-8609-e8d1f2b730db.png)

why need that much Persistent Volumes??

![image](https://user-images.githubusercontent.com/50945933/99503950-ceca8700-29b9-11eb-8cb0-7d633d30529a.png)

cannot install on azure

![image](https://user-images.githubusercontent.com/50945933/99504014-e4d84780-29b9-11eb-909a

[2020-11-19 00:15] DandyDeveloper commented on #247
@hanstsangcwc It's all configurable and the clickhouse replicas aren't even needed to have 3 replicas if it's too much for your system. The important part is:

[code]

These MUST be ready in order for the subsequent hooks to initialize things THEN all the consumers talk to Kafka / Zookeeper for managing the events and everything else that goes through Sentry.

These need to persist because they ho

[2020-11-19 00:17] DandyDeveloper commented on #244
@thewilli I haven't seen this before myself, the best thing to do might be to reset the offset in the Kafka group by following this:

https://gist.github.com/marwei/cd40657c481f94ebe273ecc16601674b

You'll lose some transactions, but typically they are far in few between and you can afford to lose some.

That being said, it might be good to look at why the consumer originally crashed, because it's

[2020-11-19 00:18] DandyDeveloper commented on #239
I'm still having problems post upgrade BUT maybe there's light at the end of this tunnel. I'll report back as I eventually solve this.

[2020-11-19 08:14] mekza commented on #195
`CREATE EXTENSION citext;` solved this issue

[2020-11-19 18:21] peppe77 commented on #195
@mekza thanks for sharing it. As of now, we migrated most of our projects to a new sentry instance (v20.8) though using 'internal' posgres (clusters/pods). Need to check on the impacts of moving from internal to external postgres...

[2020-11-23 00:30] nyambati opened #249 "github.id issue"
PR #222 introduced a bug. github.id expects a integer introduction of quotes breaks the deployment.

[2020-11-23 06:36] Mokto commented on #249
Thanks! Should be fixed with 8.0.0

[2020-11-23 06:36] #249 closed, assigned to nobody

[2020-11-23 06:36] Mokto commented on #226
Fixed with 8.0.0

[2020-11-23 06:36] #226 closed, assigned to nobody

[2020-11-23 17:22] Sajotim opened #251 "Cannot view all projects when deployed in a cluster."
When I click Project in the sidebar, Sentry prompts me
**Unable to fetch all project stats**
Click Projects in Organization Settings and it will crash directly.
I checked the log of the container as follows

[code]

I found a person who had a similar problem with me, but he deployed using docker-compose
[Sentry 10 error after updating Docker images](https://forum.sentry.io/t/sentry-10-error-after-

[2020-11-25 12:22] iburrows opened #252 "Undefined Table error"
Chart Version: 8.0.0
Kubectl: 1.19.3
minikube: 1.15.0

Hi, I am struggling to get the charts to run on minikube. All pods are up but I receive the following error when trying to access the web service.

[code]

snuba-dn-init eventually runs through. I have not set up any external databases and used the charts as is or am I supposed to change the values.yaml?

I have also attached the minikube logs

[2020-11-26 18:39] #251 closed

[2020-11-28 17:44] hameno commented on #252
I get the same error on a fresh install.

[2020-11-29 19:04] L-U-C-K-Y commented on #227
Hi all

I am facing the same issue, while deploying with ArgoCD. Is this related to Helm hooks?

I am using 8.0.0.

snuba-consumer:

[code]

Edit: The issue was that I was trying to enable persistent workers. I did not change `accessMode: ReadWriteMany`in filestore.filesystem.persistence.accessMode. After changing it, the error was not present, but other errors appeared and I did disable persisten

[2020-11-30 22:36] Sajotim opened #254 "Unable to actually events [latest]"
After a fresh installation, everything seems to be running normally, but no events can be received.
I found the problem in the log
[code]
I use nginx ingress to expose services
These is my value.yaml

[code]

And these is my Nginx-ingress.yaml

[code]
I have checked the previous issue but it did not solve the problem. Hope someone can solve this problem.

[2020-12-01 10:03] L-U-C-K-Y opened #255 "Setting up S3 with Minio"
Hi all

Thanks for the great work on this chart!

I got mostly everything running and as a final step I try to integrate S3 (minio) so that I can upload sourcemaps.

The thing that I am stuck with is the endpointUrl (I assume).

I tried different URL's without success:

- http://tenant1-hl.minio.svc.cluster.local
- http://tenant1-hl.minio.svc.cluster.local:9000
- tenant1-hl.minio.svc.cluster.local

[2020-12-01 12:57] SajoLuo commented on #228
Same problem.Have you solved this problem?

[2020-12-02 10:25] simonslama opened #256 "November Release 20.11.1"
Hi there, we are currently moving our sentry from the "on-premise" version that is running on version 20.11.1 to sentry-kubernetes.

When are you planning to include the 20.11 into your project? Are you planning to update the readme.md with some update notes for the current version?

Thank you for your assistance and  best regards,

Simon

[2020-12-03 09:19] Mokto commented on #256
We have an ongoing PR already but it doesn't work properly. And I don't have time to fix it right now.

https://github.com/sentry-kubernetes/charts/pull/245

[2020-12-04 03:46] bibi520 opened #260 "my helm version is v2.15.2 error"
![image](https://user-images.githubusercontent.com/42456284/101119403-3a515d00-3626-11eb-9d37-4e1c91131d16.png)

[2020-12-04 03:46] bibi520 commented on #260
my helm Need to upgrade 3？

[2020-12-04 07:40] Mokto commented on #260
Yes, version 3 is required.

[2020-12-04 07:40] #260 closed, assigned to nobody

[2020-12-04 11:49] nilpntr opened #261 "429 error on /api/{project_id}/envelope/"
I keep getting this error when posting on /api/{project_id}/envelope/
`{"detail":"event rejected due to rate limit"}`
Can anyone help me out with this annoying error :)

[2020-12-04 16:59] Yomanz commented on #228
Sadly not, I'm probably going to have to run an outdated version or try and fix it myself.

[2020-12-04 18:52] SajoLuo commented on #228
I use nginx to bypass this problem, at least sentry can be used temporarily

[2020-12-04 18:53] Yomanz commented on #228
Not sure what you mean, do you mean the nginx that deploys automatically with sentry?

[2020-12-07 03:14] bibi520 opened #262 "I want to open the ingress， error"
![image](https://user-images.githubusercontent.com/42456284/101305272-43883700-387d-11eb-8769-94dbcc5f8388.png)
![image](https://user-images.githubusercontent.com/42456284/101305299-4f73f900-387d-11eb-9d30-a052673edac2.png)

[2020-12-07 03:15] bibi520 commented on #262
![Uploading image.png…]()

[2020-12-07 09:25] L-U-C-K-Y commented on #255
Ultimately it was an issue with minio. When using their auto-cert generation, it is not recognized by Sentry as valid. I ended up disabling TLS for minio as it is not exposed externally (set `requestAutoCert: false`) and connecting with this endpoint: `http://tenant1-hl.minio.svc.cluster.local:9000`.

[2020-12-07 09:25] #255 closed, assigned to nobody

[2020-12-09 17:53] madanton1994 opened #263 "Unable to write event to Sentry via DSN in Kubernetes"
Good day!

I try to deploy the Sentry chart in kubernetes, Sentry starts, the web interface is accessible via ingress, but when I record an event via DSN, I get a 403 error.

I use the chart from the branch https://github.com/sentry-kubernetes/charts/tree/sentry-august

I tried to record the event both through centry-cli and using Python, the result is the same 403 Forbidden error

Of course SENTR

[2020-12-12 02:52] J0sh0nat0r commented on #262
It looks as if you've accidentally indented the `annotations` key

[2020-12-12 02:56] J0sh0nat0r commented on #263
Hey! The August branch doesn't include the patch which configures relay in proxy mode, which seems to solve this error in some (if not most) cases. Are you able to run version 7.0.0+ of the chart?

[2020-12-13 16:28] L-U-C-K-Y commented on #224
I also encounter this issue.

I tried to manually send an event over the `sentry-cli` with the following command:

[code]

It generates a hash, but I receive the `ERROR: project state for key xxx is missing key id` error in the Relay logs.

Anyone has an idea what could cause this error?

Thanks

Edit:

What I do not understand is that is has been working for a while and out of nowhere, I'll get t

[2020-12-16 08:31] Mokto commented on #254
You annotations indentation seems wrong on your ingress.

[2020-12-16 08:32] Mokto commented on #252
Could you share the logs of the `sentry-db-init` job please ?

[2020-12-16 09:09] Mokto commented on #256
The december release is now available ;)

[2020-12-16 09:09] #256 closed, assigned to nobody

[2020-12-16 09:24] #247 closed, assigned to nobody

[2020-12-17 11:35] iburrows commented on #252
Hello, I only see a `snuba-db-init` job. No `sentry-db-init` job runs
[code]

[2020-12-17 12:35] Mokto commented on #252
Please share your values.yaml file content.

[2020-12-17 12:55] iburrows commented on #252
[code]

[2020-12-18 13:56] paulshannon commented on #217
I am also running into this problem but it appears to be every time I attempt to upgrade.

[code]

Running an otherwise unmodified upgrade with `asHook=False` immediately after deploy also fails
This is using a clean local copy of the December release

[2020-12-18 15:12] stefanocke opened #265 "How to disable http logging"
In our Kibana I noticed a lot of http log entries for sentry-web and sentry-snuba (api):
[code]
Since the kube probes happen every few seconds, and since we have the http ingress logs anyway, I wanted to disable http logging in sentry-web and sentry-snuba.

I tried with SENTRY_LOG_LEVEL but with no success.

Since I don't know anything about the django or python universe, it took me some time to r

[2020-12-18 15:16] stefanocke commented on #265
Maybe something about UWSGI configuration could be mentioned in the readme...

[2020-12-22 13:05] tw1nk opened #268 "System configuration issue?"
After installing sentry the top of the screen has a banner with the text "There is 1 issue with your system configuration".

I installed this over an existing database from Sentry 9.1.2 and it seems the database migration worked as I can see all old issues. It also seems to accept new issues when I test it from an application.

I've looked through the logs and the only thing I can find that might

[2020-12-22 13:06] tw1nk opened #269 "System configuration issue banner after install (Sentry 20.12.1)"
After installing sentry the top of the screen has a banner with the text "There is 1 issue with your system configuration".

I installed this over an existing database from Sentry 9.1.2 and it seems the database migration worked as I can see all old issues. It also seems to accept new issues when I test it from an application.

I've looked through the logs and the only thing I can find that might

[2020-12-22 13:12] #268 closed, assigned to nobody

[2020-12-22 13:12] tw1nk commented on #268
Accidental duplicate as github returned 404

[2020-12-22 13:54] tw1nk commented on #269
~For some reason when I set `sentry.cleanup.enabled: false` I don't get the error banner.~
My login token didn't have admin access so I couldn't see the error.

[2020-12-22 14:29] pavanfhw commented on #263
Hello @madanton1994 @J0sh0nat0r! I am having the same issue in Kubernetes. I am using my own ingress (Istio)
What do I need to do to solve this "Forbidden" status when sending events?

[2020-12-22 14:35] pavanfhw commented on #254
Hello @Sajotim, I am having the same error, did you manage to solve it?

[2020-12-22 18:23] BYK commented on #269
If you are using Sentry 20.12.1, this is very likely to be a false alert and will be fixed in future releases. If you had GitHub integrations though, you may need to move some settings over to `config.yml` file. You can see which settings are causing this warning from Sentry web logs.

[2020-12-23 09:58] tw1nk commented on #269
Yes. it's the Sentry 20.12.1 Release. We don't use GitHub integrations.
I can't find anything in the sentry web logs that indicates why I get the banner, so I guess it's a false alert then.

Thanks for the info.

[2020-12-23 13:47] paulshannon opened #270 "Deploy fails with `asHook=false`"
I believe this is a duplicate of the unresolved but closed #217

This is using a clean local copy of the December release

[code]

Running an otherwise unmodified upgrade with asHook=False immediately after deploy (as suggested [here](https://github.com/sentry-kubernetes/charts/issues/217#issuecomment-718821943)) also fails

[2020-12-25 08:32] jk2K opened #271 "sentry-ingest-consumer not work, error: Broker: Invalid replication factor"
got error
[code]

sentry/sentry

Chart Version: 8.1.0

App Version: 20.12.1

[2020-12-25 09:34] jk2K opened #272 "rabbitmq persistentVolume.size not work"
always 8 Gi, cannot be modified by values.yaml

## expect
20 Gi

## actual
8 Gi

## extra info

Chart Version: 8.1.0

App Version: 20.12.1

I use the following command to install

[code]

values.yaml
[code]

[2020-12-25 10:13] jk2K commented on #272
solved, persistentVolume.size should be configured in rabbitmq, not rabbitmq-ha

[code]

[2020-12-25 10:13] #272 closed, assigned to nobody

[2020-12-27 01:41] leo108 opened #273 "Failed to upgrade from 8.0.0 to 8.1.0"
`helm upgrade --atomic --namespace sentry sentry -f sentry.yaml sentry/sentry`

Job `sentry-snuba-db-init` failed

[code]

[2020-12-27 06:31] jk2K commented on #271
ingore, I have successfully installed sentry in [GCP](https://cloud.google.com/kubernetes-engine/?_ga=2.213681236.-1104575422.1608632604).

reason: my previous k8s cluster does not have enough disk space  to provision pv, which cause the initialization to be abnormal and fails to install successfully

[2020-12-27 06:31] #271 closed, assigned to nobody

[2020-12-28 08:28] SajoLuo commented on #254
I solved this problem with traefik

[2020-12-28 08:28] #254 closed

[2020-12-29 11:20] gboor commented on #269
I just ran into this as well on an upgrade. I performed a complete purge and reinstall of Sentry, so only the old database remains (and was upgraded).

In the logs of sentry-web I do see this as the very first entry;

[code]

Not sure if that is related, or how to get rid of it, since I didn't manually configure anything...

[2020-12-31 04:44] arianf commented on #67
@Mokto The clone still has `privileged: true`, is the clone not ready yet?

https://github.com/sentry-kubernetes/charts/blob/ec588a94520555e512b1b931eb5799e6d08293c9/clickhouse/templates/statefulset-clickhouse.yaml#L109

https://github.com/sentry-kubernetes/charts/blob/ec588a94520555e512b1b931eb5799e6d08293c9/clickhouse/templates/statefulset-clickhouse-replica.yaml#L110

[2021-01-01 05:58] predakanga commented on #224
I solved this problem by switching relay.mode to managed - no further config should be needed.

The problem is that proxy mode and processing enabled are incompatible. The chart probably shouldn't default both to on.

[2021-01-03 20:54] gboor opened #275 "Upgrade from 9.1.2 to latest - db-init-job keeps complaining about Kafka being unreachable and does nothing"
I am trying to use this chart to upgrade from Sentry 9.1.2 to the most recent. I only kept the database of the old install, so in theory it should work if the migration work - the rest is a fresh install.

The db-init-job does not complete and continuously spits stuff like this into the logs;

[code]

I have let it run for several hours now with no change - just that over and over again. It does n

[2021-01-04 08:28] Mokto commented on #166
Fixed with 8.1.1, Thanks @szeber

[2021-01-04 08:28] #166 closed, assigned to nobody

[2021-01-04 19:20] jadbaz opened #276 "DNS issues on K8s 1.19+"
I tried this chart (8.0.0) with [K3s](https://github.com/k3s-io/k3s) 1.18, 1.19 and 1.20
It only works on 1.18
I haven't yet tried it on a different K8s engine with these versions.
But I expect the issue is with the chart itself and not K8s.

The issue is that rabbitmq and kafka are not starting

[code]

The logs indicate a DNS issue

sentry-kafka-0 logs:
[code]

sentry-rabbitmq-0 logs:

[code]

T

[2021-01-05 07:43] 291723286 opened #277 "when i upload sourcemap,something is error."
sentry-relay:

2021-01-05T07:09:23Z [relay_server::actors::events] ERROR: project state for key bcbeb26f7dab43b5abf6e8deb980d3d3 is missing key id
2021-01-05T07:09:24Z [relay_server::actors::events] ERROR: project state for key bcbeb26f7dab43b5abf6e8deb980d3d3 is missing key id
2021-01-05T07:09:25Z [relay_server::actors::events] ERROR: project state for key bcbeb26f7dab43b5abf6e8deb980d3d3 is miss

[2021-01-06 18:03] userakhila opened #278 "relay not working as expected"
Hi,

We have installed Sentry on Kubernetes using below helm chart. Haven’t changed any values we are using all default values from helm chart, but not able to send any requests to sentry. Seeing 403 Forbidden error below. Can someone please help me resolve this issue?

https://github.com/sentry-kubernetes/charts/sentry

Sentry version - 20.12.1

issue reference from sentry - https://forum.sentry.

[2021-01-09 23:23] zifeo commented on #269
@gboor Also facing that, looks like this is indeed issue based on https://github.com/getsentry/onpremise/issues/718 similar case.

[2021-01-15 19:50] daniel5gh commented on #166
Hi, I am running into the same issue with the latest released chart.

I don't see any change/code containing `CSRF_TRUSTED_ORIGINS` either, did this get lost?

I did add `CSRF_TRUSTED_ORIGINS` to my setup manually and it resolved the issue.

thanks!

[2021-01-17 17:45] fergusean commented on #251
@Sajotim did you get this resolved? I'm experiencing the same now after migrating a local Docker install to a Kubernetes install.

[2021-01-18 06:51] arianf commented on #21
Can confirm was able to get this working

[2021-01-18 18:37] mariusmitrofan opened #281 "Alternative to Sentry in AWS CloudFormation"
Hi guys,

If anyone else is interested, I've written an alternative to this stack in CloudFormation which is deployed via AWS ECS (through either SPOT and ON-DEMAND Fargate containers) and supports all relevant micro-services.

It has been battle-tested alongside Performance Monitoring on a platform with 5 different environments which generates on average about 5k events per hour.

Link = https://

[2021-01-19 05:40] timfeirg commented on #278
try https://github.com/sentry-kubernetes/charts/pull/279

[2021-01-19 13:32] Mokto commented on #277
Are you using persistentWorkers ?

[2021-01-19 13:34] Mokto commented on #265
Thanks ! Would be really nice for it to be documented indeed.

[2021-01-19 20:25] ZacharyJoswick commented on #251
I had a different issue that was related to missing tables after pods were moved between nodes, but I resolved it by doing the following:

1. Kubectl exec into the sentry snuba api pod
2. Run `export CLICKHOUSE_SINGLE_NODE="true"`
3. Then run the following:
[code]

This is roughly the same thing the sentry-snuba-migrate job does in the helm chart.

Not 100% sure if it will solve your issues, but i

[2021-01-20 01:16] DandyDeveloper commented on #281
@Mokto We good with this?

[2021-01-20 01:19] DandyDeveloper commented on #276
@jadbaz What happens if you try the FQDN of `service.namespace.svc.cluster.local` from a random pod elsewhere on your cluster?

Since CoreDNS should be managing the internal k8s resolution, this sounds like a deployment bug, perhaps in the CoreDNS configuration?

What do the CoreDNS pods in the `kube-system` namespace say? Logs may indicate some failures and the reason why.

I don't think this is

[2021-01-20 01:21] DandyDeveloper commented on #275
Sounds like your Kafka consumer groups are likely out of whack and need reset. Easy fix there would be to delete the PVC and pods, to clear up Kafka, then try to run the init job again.

Kafka is a bit of a dark horse in terms of "health". It may look healthy, but consumer / client level issues can be pretty common.

[2021-01-20 01:23] DandyDeveloper commented on #273
Those topic errors should be red herrings, it's that last migration error that concerns me. Maybe Kafka is in a weird state from a previous migration and is stuck in a loop?

If you don't mind loosing some events/documents, I'd recommend just deleting the kafka PVC, restarting the pod to have a fresh kafka state, then run those migrations again. It's relatively painless / should have no impact on

[2021-01-20 06:03] userakhila commented on #278
@timfeirg I tried change in annotations as mentioned above but still seeing the same issue

[2021-01-20 07:32] jadbaz commented on #276
I don't have the setup to try this anymore
Will need some time to set it up again
In any case, can anyone try this on any K8s 1.19+ (other than k3s)
If it shows the same behavior, then it must be a chart issue. If not, then the issue is with k3s.

[2021-01-20 08:32] Mokto commented on #281
I don't have anything against sharing a project that could potentially help people installing Sentry in a different way.

What I really don't like is seeing you making advertisement for your company.

[2021-01-20 08:32] #281 closed, assigned to nobody

[2021-01-20 08:35] Mokto commented on #281
I just removed your company link from your post.

[2021-01-20 12:04] SajoLuo commented on #251
The database initialization may take a long time, and I can run normally after waiting for a long time

[2021-01-21 11:00] gboor commented on #275
I did just that and it indeed resolved... Not good that Kafka is so opaque. I also don't understand why Sentry uses Kafka AND RabbitMQ AND Redis - this whole thing seems very overengineered to me compared to 9.1.2 - but that's a matter for the Sentry team.

Thanks for the pointer!

[2021-01-21 11:00] #275 closed, assigned to nobody

[2021-01-21 11:14] DandyDeveloper commented on #275
Wait till you find out how inefficient Django is ;)

[2021-01-22 11:33] NandoTheessen opened #283 "Installation w/ default values fails"
Hi everyone!

I'm in the middle of migrating our sentry to a GKE cluster.
My first step was to simply install the chart with default values to get familiar with the components of the application and experiment a bit.

What ends up happening is that the clickhouse init job fails with the following error message:

[code]

Which is weird, because as you can see in the logs for the snuba-db-init job,

[2021-01-22 12:17] NandoTheessen commented on #283
I was able to get around this by disabling the clickhouse backups, in my eyes this should be a default if it prevents a normal installation of the application.
Happy to provide a PR for this.

[code]

[2021-01-23 03:47] Yinabled opened #285 "Upgrading Sentry with an external PostgreSQL database fails to migrate to latest schema definition"
We recently upgraded our Sentry helm chart version from 4.8.1. to 8.1.2, and are running into issues with `sentry-web`, `sentry-worker`, `sentry-cron` attempting to access nonexistent tables (e.g. `sentry_scheduledjob`, `sentry_groupsnooze`, `sentry_monitor`, `sentry_projectkey`, among many others). I suspect that this is as a result of a migration that would have been performed had we set `postgr

[2021-01-25 20:49] jgrau commented on #285
FWIW: I just installed this chart today and also ran into problems which seemed like missing database tables. I `kube exec`ed into a worker and ran `sentry upgrade` and it ran a bunch of database migrations and then everything was working as expected :)

[2021-01-25 22:18] Yinabled commented on #285
@jgrau Thanks for this. The issue, though, seems to be that the the `sentry-worker` and `sentry-web` containers are crashing immediately on start, and so `kubectl exec`ing into the workers doesn't even seem to be possible. Did you run into that issue while attempting to upgrade?

[2021-01-26 02:15] thanhtoan1196 opened #286 "Support sentry version 21.xx"
Please update to the latest version
https://github.com/getsentry/sentry/releases

[2021-01-26 06:59] userakhila commented on #278
any update on this issue, when using default values also I am not able to send request to sentry. Its failing with 403 Forbidded

[2021-01-26 07:08] Yinabled opened #287 "config.configYml failing to accept valid YAML"
In [`sentry-kubernetes` v6.0.0](https://github.com/sentry-kubernetes/charts#upgrading-from-5xx-version-of-this-chart-to-600), `config.configYml` was updated to take in YAML instead of the original config format. However, it seems like valid YAML still results in YAML parsing errors within `sentry-web`, as follows: `in "/etc/sentry/config.yml", line 1, column 1 expected <block end>, but found '-'`.

[2021-01-26 12:31] basilfx commented on #283
I have the same problem. I also had to delete all persistent volumes first, otherwise it would still fail.

[2021-01-26 15:20] jgrau commented on #285
Hmm... no I didn't have that issue... I've experienced that before though and never found a good solution :(

[2021-01-26 16:00] timfeirg commented on #278
try to provide server side error logs, and your relevant kubernetes specs (ingress, service, deploy), it's impossible to debug or guess by seeing just the content you posted above.

[2021-01-26 17:53] daniel5gh commented on #166
I now changed this to use

[code]

instead. As this [seems the intended method](https://github.com/sentry-kubernetes/charts/blob/8.1.2/sentry/templates/configmap-sentry.yaml#L274) and forcing `CSRF_TRUSTED_ORIGINS` could actually open up a security issue.

[2021-01-26 23:05] peppe77 opened #289 "how allocate more heap to sentry-web?"
went through readme as well as values file and did not find how to increase sentry web heap size. any help is appreciated.

[2021-01-27 05:38] userakhila commented on #278
@timfeirg here are the logs from sentry web. I enabled nginix as ingress is not configured for our cluster.
[code]
logs from relay

[code]

[2021-01-27 10:52] timfeirg commented on #278
my best guess is your nginx is not correctly routing traffic to relay. `POST /api/2/envelope/` is a request that should be sent to relay, not sentry-web.

and as is shown in your sentry-relay logs, there simply isn't any request logs.

I managed to fix this by adding the appropriate annotation to ingress nginx, to enable regex, if that's not the case for you, try to enable the debug mode for sentr

[2021-01-27 21:42] Yinabled commented on #287
cc @DandyDeveloper @Mokto - [this change](https://github.com/sentry-kubernetes/charts/pull/186) changed how the `config.configYml` value is parsed, but it seems as if the parsing doesn't happen properly. As an example, the below is my `/etc/sentry/config.yml` (with sensitive values redacted):
[code]

As you can see, the properties resulting from the `config.configYml` value is clearly incorrectly

[2021-01-27 23:00] DandyDeveloper commented on #287
What does the snippet look like in your values? Can you include the whole section including the config.yml key?

This looks like user error, but I need to triple check and want a good example reference to replicate this error.

I know it's made by terraform, but if you can do `helm get values` from the release it might be clearer why this is happening.

[2021-01-27 23:29] Yinabled commented on #287
Sure thing - here are the values for the Sentry helm release with redacted sensitive properties:
[code]

[2021-01-28 00:18] DandyDeveloper commented on #287
@Yinabled This problem looks to be how Terraform has parsed the YAML into the values file.

The actual parsing from values -> ConfigMap would be valid, as you've effectively passed it a list of inputs, with single/double quotes littered around (Based on the returned output from `helm get values`).

`toYaml` is pretty simple in that it should just parse what you've entered as a literal into the `Co

[2021-01-29 02:30] userakhila commented on #278
I am seeing below warning from nginix logs, looks like nginix config provided in the cart is being overwritten by default nginx config

[code]

[2021-01-29 08:36] phal0r commented on #283
Can confirm the problem and the fix. Thanks for the workaround!

[2021-01-29 15:55] basilfx commented on #278
It seems that I have the same problem. The requests seem to be routed to sentry-web instead of sentry-relay. If I port-forward :3000 from sentry-relay to my local machine, and point the application to that, it works (and I see logging in sentry-relay).

- I do use the regex annotation
- Kubernetes 1.18
- ingress-nginx 3.22

I extracted the following from nginx.conf: https://gist.github.com/basilfx

[2021-02-02 09:19] pierreyves-lebrun commented on #283
Thanks for the tip, didn't you get the following error from the `sentry-snuba-migrate` pod though:

[code]

[2021-02-03 08:02] Mokto commented on #273
I'll close, please reopen if needed.

[2021-02-03 08:02] #273 closed, assigned to nobody

[2021-02-03 08:03] Mokto commented on #224
I'll close, please reopen if needed.

[2021-02-03 08:03] #224 closed, assigned to nobody

[2021-02-03 08:04] Mokto commented on #277
I'll close, please reopen if needed.

[2021-02-03 08:04] #277 closed, assigned to nobody

[2021-02-03 08:20] #286 closed, assigned to nobody

[2021-02-03 08:21] Mokto commented on #286
Done ;)

[2021-02-04 14:18] fibis opened #293 "Fix ci for release job"
It looks like the ci pipeline is broken, so the new version of the chart can't be released.

[2021-02-05 00:53] klinux opened #294 "Installation Problems"
I'm trying to install sentry on Kubernetes, bu if i let the option internal_replication = true, like default values, I receive this error in one instance of clickhouse:

Received exception from server (version 20.12.5):
Code: 60. DB::Exception: Received from sentry-clickhouse-0.sentry-clickhouse-headless:9000. DB::Exception: Table default.discover_local doesn't exist..

This error happens in sentr

[2021-02-05 02:58] #294 closed, assigned to nobody

[2021-02-05 10:01] Fgruntjes opened #295 "Chart version 8.2.0 not available in repository"
The chart version 8.2.0 is not available in the repository https://sentry-kubernetes.github.io/charts/.

Am I missing something? Thnx!

[2021-02-05 10:02] Mokto commented on #295
I'll deploy 9.0.0 in a second

[2021-02-05 10:09] Mokto commented on #283
Closed with 9.0.0. Thanks @NandoTheessen !

[2021-02-05 10:09] #283 closed, assigned to nobody

[2021-02-05 10:10] Mokto commented on #295
9.0.0 has been deployed successfully! ;)

[2021-02-05 10:10] #295 closed, assigned to nobody

[2021-02-05 10:22] Fgruntjes commented on #295
Thats great thank you very much!

[2021-02-05 10:56] fibis commented on #293
It looks like it was fixed in 9.0.0

[2021-02-05 10:56] #293 closed, assigned to nobody

[2021-02-05 12:42] phenixdotnet commented on #230
@Puneeth-n ALB path pattern doesn't support regex. The chart use nginx style regex in path configuration which results in the error you have.
I'm actually working on a solution but I don't have somethings acceptable.
My current configuration is
[code]

As you can see, you have to list sub path in `/path/` to forward specific call to the relay instead of the web.
The `/api/0-9*/*` doesn't seem to w

[2021-02-06 05:32] teebu opened #296 "How to upgrade using helm? 8 (20.10.1) to 9 (21.1.0)"
I'm running:
[code]
And it fails with this message
[code]

After I deleted the sentry `sts` helm managed to successfully upgrade, but then I noticed a crash loop for one workers, with the error

[code]

the rabbitmq is also having issues in the logs:

[code]

I ended up deleting the rabbit pvc's and rabbit sts and doing another upgrade command.

In the end I think it's all running, but is there a

[2021-02-06 19:28] superbiche commented on #285
Edit the deployment, replace the command with `sleep 5d`, wait for the rolling update to be done, then `kubectl exec` in the container and run the original command. You should be able to see what's going on.

(yes, it's hacky, but I use this all the time, not only for Sentry, and it's the best way of debugging a `CrashLoopBackoff` container ;) )

[2021-02-07 05:44] thanhtoan1196 opened #297 "ModuleNotFoundError: No module named 'mail'"
Logs from worker

[code]

[2021-02-09 17:46] theophanevie commented on #273
I got the same issue when i tried to do a fresh install with `9.0.0`

[code]

the error log got from the first pods
[code]

[2021-02-09 18:02] theophanevie commented on #273
It doesn't seem to be deterministic. I deleted everything and then started again and it works fine.

[2021-02-11 15:54] theophanevie opened #301 "Snuba migrate failling `Cannot add index minmax_timestamp: index with this name already exists.`"
When i tried to do a fresh install with 9.0.0 i got :

[code]

the error log got from the first pod `sentry-1612891574-snuba-migrate-22sps`

[code]

On another pod `sentry-1612891574-snuba-migrate-frc42`

[code]

It doesn't seem to be deterministic. I deleted everything and then started again and it works but during my next deploy it failed again.

Any idea ? it would be a great help to me :smile:

[2021-02-11 21:15] azhurbilo opened #302 "Clickhouse multi-node support by Sentry / Snuba"
Can someone share a plan to support multi-node Clickhouse:

## 1. Sharded clickhouse table

now https://github.com/sentry-kubernetes/charts/search?q=CLICKHOUSE_SINGLE_NODE
CLICKHOUSE_SINGLE_NODE = true and there is no possibility to change it via chart variables.

As I understand due to this env variable Snuba decide:
- if CLICKHOUSE_SINGLE_NODE: true = Snuba works with local tables "[table]_local

[2021-02-11 23:01] asummers commented on #233
This can be closed, I believe.

[2021-02-12 07:44] Mokto commented on #233
Yes, thanks!

[2021-02-12 07:44] #233 closed, assigned to nobody

[2021-02-13 10:51] leo108 commented on #273
Fixed by deleted clickhouse PVCs

[2021-02-13 11:00] mekza commented on #273
Note that clickhouse docker image is running a `chown` on the data directory everytime it starts (c.f https://github.com/ClickHouse/ClickHouse/blob/master/docker/server/entrypoint.sh#L73). This operation can lead OOM. Maybe @Mokto you should re-open the issue while someone adds a way in clickhouse chart to control that, what do you think?

[2021-02-14 11:55] mantenie commented on #296
I have the same issue.

[2021-02-14 18:44] mantenie commented on #296
Thanks to @teebu for the great solution! :) It solved my problems during the upgrade without loss of data.

[2021-02-15 19:31] theophanevie opened #304 "Support for secret on external postgressdb / redis"
It seems to be mandatory to set harcoded password value if Postgresql is set to false. Do you know a workaround to get it from a secret ?

(btw: thanks for the chart it's awesome :smile:  )

[2021-02-16 06:44] Mokto commented on #296
I'm really surprised because https://github.com/sentry-kubernetes/charts/blob/develop/sentry/values.yaml#L505 & forceBoot true should be enough for proper upgrades with Mnesia tables.

I never had any issue.

[2021-02-16 06:46] Mokto commented on #304
Thanks for the support, a few people have been really helping so thanks to everyone ;)

About your question, no it's not yet possible!

[2021-02-16 06:49] Mokto commented on #273
Sure, but I would open another issue.

TBH, my knowledge in Clickhouse is far too limited ;)

[2021-02-16 06:57] mekza commented on #273
Indeed

[2021-02-16 07:13] DandyDeveloper commented on #273
It'll just be a case of adding the env var into the chart. Open a new issue for it, probably worthwhile:

https://github.com/ClickHouse/ClickHouse/blob/master/docker/server/entrypoint.sh#L6-L9

[2021-02-16 07:38] mekza commented on #273
Yes

[2021-02-18 20:00] joel-schaal commented on #230
If I understand the [Ingress documentation](https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types) properly, and the different use cases described in the `ingress.yaml` template, I guess the following should have +/- the same outcome, no ?
[code]

When the URL starts wth `/api/*`, we go to the *relay* service, and for everything else we go to the *web* service.

Do you see a

[2021-02-18 20:16] phenixdotnet commented on #230
Yes there is an issue because the web app also use the `/api/XXXX/` path ...
For example: `/api/0/organizations/XXXXX/stats/` when you open the admin panel

[2021-02-18 21:50] joel-schaal commented on #230
I may understand it wrong but I thought `/api/0/organizations/XXXXX/stats/` would match the section
[code]
of the ingress,yaml, and therefore go to the _relay_ service, not the _web_ service.

[2021-02-19 07:56] phenixdotnet commented on #230
@joel-schaal : Are you sure the request `/api/0/organizations/XXXXX/stats/` could/should be handled by the relay service ?

As far as understand the relay service, it should only handle the events ingestion but this request come from the web UI and should be handled by the web service. This is how it work in my deployment. I will try to send this kind of requests to the relay service to confirm or

[2021-02-19 13:54] sergiochoo opened #311 "Sentry helm chart + LDAP"
Hello.
Is it possible to configure LDAP authentication with this helm chart (Sentry 21.1.0)? The official site has [documentation](https://docs.sentry.io/product/accounts/sso/azure-sso/) on configuring Azure AD, but not on configuring on-premise AD.
If it is possible, maybe there is a link to the instructions?
Thanks!

[2021-02-21 08:20] ZuSe opened #312 "Upgrading from 8.1.2 to 9.x throws rendered manifests contain a new resource that already exists"
When upgrading from 8.1.2 to 9 I am running into a problem with upgrading the deployment.
As far as I can see this issue hasnt been reported yet. What I dont understand is that error occurs given the fact that we dont face an API upgrade.

Would really appreciate any ideas how to fix it.
Is it save to delete the deployment and then try the upgrade?

[2021-02-21 12:22] BYK commented on #269
@gboor yeah that's the false alert that we've fixed in subsequent versions. This issue can be closed as the fine folks here cannot do anything about it and it is already fixed :)

[2021-02-21 12:23] BYK commented on #261
This means you are sending too many events in a certain period of time. Reduce your rate?

[2021-02-22 09:37] Mokto commented on #269
Ah, indeed, thanks!

[2021-02-22 09:37] #269 closed, assigned to nobody

[2021-02-22 09:39] Mokto commented on #218
I think we can close this.

[2021-02-22 09:39] #218 closed, assigned to nobody

[2021-02-23 17:52] rbkaspr opened #313 "Add support for custom CAs for sentry-web"
Currently the helm chart for sentry does not have an easy mechanism for mounting and configuring a custom certificate authority to talk to service using self-signed certificates. While additional environment variables can be added with the web.env block, there's no way to add additional volume mounts.

[2021-02-24 06:12] zhixiangjoy commented on #234
yes,I meet the same problem, I also think externalKfka should support more then one brokers.

[2021-02-24 16:48] joel-schaal opened #315 "No events/issues after upgrading from 9.1.2"
I have used this chart to create a setup in my cluster, where I import an old DB thanks to the following hook:
[code]

Everything looks fine from the db-init Job:
[code]

But when I connect to my service, I don't see any error/event were migrated.
Projects, users and other config worked well though.

I'm not sure where I can look to understand what is wrong in my setup.
I posted a similar issue on

[2021-02-25 10:53] dis-sid commented on #228
Hello,
If you disabled nginx it's because you have your own nginx ingress controller deployed right ? Then I guess you could use [annotations](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations) to reproduce the fix for your own nginx server.

[2021-02-25 11:12] #313 closed, assigned to nobody

[2021-02-25 17:04] sagor999 commented on #312
This is because sentry-relay was deployed via hook, so it is missing some annotations for Helm to take ownership of it.
You can add annotations to sentry-relay and couple more deployments (you will see in logs, as Helm will complain about them):
Add this label:
`app.kubernetes.io/managed-by=Helm`
And this annotations:
`meta.helm.sh/release-name: sentry`
`meta.helm.sh/release-namespace: sentry`
Upd

[2021-02-26 06:50] Mokto commented on #312
Sure!

@ZuSe i would recommend setting `asHook` `false` for upgrades

[2021-02-27 21:18] teebu opened #318 "Scrubbing private data (vs sentry.io) different results."
I setup the same scrubbing settings on both self hosted and managed sentry.io, sent the same message to both got different results.

Test message:
[code]
Settings:
![image](https://user-images.githubusercontent.com/5531844/109400579-6bc48680-78fe-11eb-838f-d6a6aabbcf81.png)

Results self hosted (with external relay in managed mode and direct DSN posts):
![image](https://user-images.githubuserconte